
<div class="w3-display-container w3-container w3-margin-top" style="background-image: url(./img/example.jpg); height:100%; width:100%;">
    <div class="w3-center" style="padding:24px 48px; margin-left: auto; margin-right: auto;height:85%; width:90%;">
		
		<div id="ueberschrift_gesamtdoku" class="w3-center w3-container w3-padding w3-blue-grey w3-round w3-border w3-hover-shadow" style="margin-top:30px; width:100%;">						
			<h4> Dokumentation des Gesamteinsatzes </h4>
		</div>
		
		{{# if kerndaten}}
		<div id="kerndaten_gesamtdoku" class="w3-center w3-container w3-padding w3-white w3-round w3-border w3-hover-shadow" style="margin-top:40px; width:100%;">						
			<h6 class="w3-blue-grey" style="height:30px; padding-top:3px;"><i class="fa fa-plus-square w3-large w3-margin-right"> <span class="fa fa-info-circle w3-right w3-small"></span></i>  Kerndaten des Gesamteinsatzes</h6>
			
			<div class="w3-card w3-round w3-light-grey w3-container w3-display-container">
				<p></p> <!-- Uebersicht aller Kerndaten ueber den Gesamteinsatz -->
				{{# each kerndaten}}
				<div class="w3-container w3-white w3-card w3-round w3-hover-shadow w3-display-container"> 
						<div class="w3-row w3-center w3-block w3-light-grey" style="height:30px; font-size:12px; LINE-HEIGHT:0px;">
							<div class="w3-third w3-left-align">
							  <p style="font-size:11px;">&emsp;<i class="fa fa-calendar fa-fw w3-margin-right"></i> {{ datum }} &emsp;&emsp;&emsp;<i class="fa fa-clock-o fa-fw w3-margin-right"></i> <span class="timestamp">{{ start }}</span> - <span class="timestamp">{{ end }}</span> Uhr</p>
							</div>
							<div class="w3-third">
							  <p style="font-size:12px"><i class="fa fa-plus-square fa-fw w3-margin-right"></i>{{ titel }}</p>
							</div>
						</div>
						
						<div class="w3-row w3-left-align">
							<div class="w3-half">
							  <p style="font-size:11px"><i class="fa fa-map-marker fa-fw w3-margin-right"></i>Adresse: &emsp; {{ strasse }}, {{ plz }} {{ ort }}</p>
							</div>
							<div class="w3-half">
							  <p style="font-size:11px"><i class="fa fa-exclamation-triangle fa-fw w3-margin-right"></i>Risikoeinstufung: &emsp; {{ risiko }} </p>
							</div>
						</div>
						<p style="font-size:11px" class="w3-left-align"><i class="fa fa-info-circle fa-fw w3-margin-right"></i>Erweiterte Informationen: <div style="font-size:11px; padding-left:30px;" class="w3-left-align"> {{ lage }}</div></p>
				</div>
				<p></p>
				{{/each}}
			</div>
		</div>
		{{/if}}
		
		{{# if fuehrungskraft}}
		<div id="fuehrungskraft_gesamtdoku" class="w3-center w3-container w3-padding w3-white w3-round w3-border w3-hover-shadow" style="margin-top:40px; width:100%;">						
			<h6 class="w3-blue-grey" style="height:30px; padding-top:3px;"><img class="icon w3-margin-right" src="./img/icons/einsatzleiter.png" alt="EL" style="width:15px; height:15px;"> Übersicht der Einsatzleitung</h6>
			
			<div class="w3-card w3-round w3-light-grey w3-container w3-display-container">
				<p></p> <!-- Uebersicht aller Daten der beteiligten Fuehrungskraefte -->
				{{# each fuehrungskraft}}
				<div class="w3-container w3-white w3-card w3-round w3-hover-shadow w3-display-container"> 
						
						<div class="w3-row w3-left-align">
							<div class="w3-half">
							  <p style="font-size:11px"><i class="fa fa-address-book fa-fw w3-margin-right"></i>Vorname: &emsp; {{ vorname }}</p>
							</div>
							<div class="w3-half">
							  <p style="font-size:11px"><i class="fa fa-address-book fa-fw w3-margin-right"></i>Nachname: &emsp; {{ nachname }}</p>
							</div>
						</div>
						
						<div class="w3-row w3-left-align">
							<div class="w3-half">
							  <p style="font-size:12px"><i class="fa fa-bullhorn w3-small w3-margin-right"></i>Rolle: &emsp; {{# if ist_EL }} Einsatzleiter/in {{else}} Führungsassistent/in {{/if}}</p>
							</div>
							<div class="w3-half">
							  <p style="font-size:11px"><i class="fa fa-phone-square fa-fw w3-margin-right"></i>Telefonnummer: &emsp; {{ tel }}</p>
							</div>
						</div>
						
						<div class="w3-row w3-left-align">
							<div class="w3-half">
							  <p style="font-size:11px"><i class="fa fa-graduation-cap fa-fw w3-margin-right"></i>Führungsqualifikation: &emsp; {{ quali }}</p>
							</div>
							<div class="w3-half">
							  <p class="w3-left-align" style="font-size:11px"><i class="fa fa-home fa-fw w3-margin-right"></i>Hilfsorganisation: &emsp; {{ hiorg }}</p>
							</div>
						</div>
						
						<div class="w3-row w3-left-align">
							<div class="w3-half">
							  <p class="w3-left-align" style="font-size:12px"><i class="fa fa-clock-o w3-small w3-margin-right"></i>Dienstbeginn: &emsp; <span class="timestamp">{{ start }}</span> Uhr</p>
							</div>
							<div class="w3-half">
							  <p class="w3-left-align" style="font-size:12px"><i class="fa fa-clock-o w3-small w3-margin-right"></i>Dienstende: &emsp; <span class="timestamp">{{ end }}</span> Uhr</p>
							</div>
						</div>
				</div>
				<p></p>
				{{/each}}
			</div>
		</div>
		{{/if}}
		
		{{# if rettungsmittel}}
		<div id="rettungsmittel_gesamtdoku" class="w3-center w3-container w3-padding w3-white w3-round w3-border w3-hover-shadow" style="margin-top:40px; width:100%;">						
			<h6 class="w3-orange" style="height:30px; padding-top:3px;"><i class="fa fa-ambulance w3-large w3-margin-right"> </i> Übersicht über alle Rettungsmittel</h6>
			
			<div class="w3-card w3-round w3-light-grey w3-container w3-display-container">
				<p></p> <!-- Uebersicht aller Rettungsmittel-->
				{{# each rettungsmittel}}
				<div class="w3-container w3-white w3-card w3-round w3-hover-shadow w3-display-container"> 
					<div class="w3-row w3-left-align">
						<div class="w3-half">
						  <p style="font-size:12px"><i class="fa fa-bullhorn w3-small w3-margin-right"></i>Funkrufname: &emsp; {{ funkruf }}  </p>
						</div>
						<div class="w3-half">
						   <p class="w3-left-align" style="font-size:11px"><i class="fa fa-ambulance fa-fw w3-margin-right"></i>Fahrzeugart: &emsp; {{ art }}</p>
						</div>
						<div class="w3-row w3-left-align">
							<div class="w3-half">
							  <p class="w3-left-align" style="font-size:12px"><i class="fa fa-clock-o w3-small w3-margin-right"></i>Dienstbeginn: &emsp; <span class="timestamp">{{ start }}</span> Uhr</p>
							</div>
							<div class="w3-half">
							  <p class="w3-left-align" style="font-size:12px"><i class="fa fa-clock-o w3-small w3-margin-right"></i>Dienstende: &emsp; <span class="timestamp">{{ end }}</span> Uhr</p>
							</div>
						</div>
					</div>
				</div>
				<p></p>
				{{/each}}
			</div>
		</div>
		{{/if}}
		
		{{# if posten}}
		<div id="posten_gesamtdoku" class="w3-center w3-container w3-padding w3-white w3-round w3-border w3-hover-shadow" style="margin-top:40px; width:100%;">						
			<h6 class="w3-yellow" style="height:30px; padding-top:3px;"><i class="fa fa-flag w3-large w3-margin-right"> </i> Übersicht über alle Sanitätsposten</h6>
			
			<div class="w3-card w3-round w3-light-grey w3-container w3-display-container">
				<p></p> <!-- Uebersicht aller Sanitätsposten-->
				{{# each posten}}
				<div class="w3-container w3-white w3-card w3-round w3-hover-shadow w3-display-container"> 						
						<p class="w3-left-align" style="font-size:12px"><i class="fa fa-bullhorn w3-small w3-margin-right"></i>Funkrufname: &emsp; {{ funkruf }}</p>
						<div class="w3-row w3-left-align">
							<div class="w3-half">
							  <p class="w3-left-align" style="font-size:12px"><i class="fa fa-clock-o w3-small w3-margin-right"></i>Dienstbeginn: &emsp; <span class="timestamp">{{ start }}</span> Uhr</p>
							</div>
							<div class="w3-half">
							  <p class="w3-left-align" style="font-size:12px"><i class="fa fa-clock-o w3-small w3-margin-right"></i>Dienstende: &emsp; <span class="timestamp">{{ end }}</span> Uhr</p>
							</div>
						</div>
				</div>
				<p></p>
				{{/each}}
			</div>
		</div>
		{{/if}}
		
		{{# if rettungskraft}}
		<div id="rettungskraft_gesamtdoku" class="w3-center w3-container w3-padding w3-white w3-round w3-border w3-hover-shadow" style="margin-top:40px; width:100%;">						
			<h6 class="w3-light-green" style="height:30px; padding-top:3px;"><i class="fa fa-user-md w3-large w3-margin-right"> </i> Übersicht über alle Einsatzkräfte</h6>
			
			<div class="w3-card w3-round w3-light-grey w3-container w3-display-container">
				<p></p> <!-- Uebersicht über alle Einsatzkräfte-->
				{{# each rettungskraft}}
				<div class="w3-container w3-white w3-card w3-round w3-hover-shadow w3-display-container"> 
						
						<div class="w3-row w3-left-align">
							<div class="w3-half">
							  <p style="font-size:11px"><i class="fa fa-address-book fa-fw w3-margin-right"></i>Vorname: &emsp; {{ vorname }}</p>
							</div>
							<div class="w3-half">
							  <p style="font-size:11px"><i class="fa fa-address-book fa-fw w3-margin-right"></i>Nachname: &emsp; {{ nachname }}</p>
							</div>
						</div>
						
						<div class="w3-row w3-left-align">
							<div class="w3-half">
							  <p style="font-size:12px"><i class="fa fa-bullhorn w3-small w3-margin-right"></i>Funkrufname: &emsp; {{ funkruf }} </p>
							</div>
							<div class="w3-half">
							  <p style="font-size:11px"><i class="fa fa-phone-square fa-fw w3-margin-right"></i>Telefonnummer: &emsp; {{ tel }}</p>
							</div>
						</div>
						
						<div class="w3-row w3-left-align">
							<div class="w3-half">
							  <p style="font-size:11px"><i class="fa fa-graduation-cap fa-fw w3-margin-right"></i>Medizinische Qualifikation: &emsp; {{ quali }}</p>
							</div>
							<div class="w3-half">
							  <p class="w3-left-align" style="font-size:11px"><i class="fa fa-home fa-fw w3-margin-right"></i>Hilfsorganisation: &emsp; {{ hiorg }}</p>
							</div>
						</div>
						<div class="w3-row w3-left-align">
							<div class="w3-half">
							  <p class="w3-left-align" style="font-size:12px"><i class="fa fa-clock-o w3-small w3-margin-right"></i>Dienstbeginn: &emsp; <span class="timestamp">{{ start }}</span> Uhr</p>
							</div>
							<div class="w3-half">
							  <p class="w3-left-align" style="font-size:12px"><i class="fa fa-clock-o w3-small w3-margin-right"></i>Dienstende: &emsp; <span class="timestamp">{{ end }}</span> Uhr</p>
							</div>
						</div>
				</div>
				<p></p>
				{{/each}}
			</div>
		</div>
		{{/if}}
		
		{{# if historie}}
		<div id="historie_gesamtdoku" class="w3-center w3-container w3-padding w3-white w3-round w3-border w3-hover-shadow" style="margin-top:40px; width:100%;">						
			<h6 class="w3-blue-grey" style="height:30px; padding-top:3px;"><i class="fa fa-clipboard w3-large w3-margin-right"> <span class="fa fa-info-circle w3-right w3-small"></span> </i> Historie des Gesamteinsatzes</h6>
			
			<div class="w3-card w3-round w3-light-grey w3-container w3-display-container">
				<p></p> <!-- Uebersicht über alle Ereignisse während des Gesamteinsatzes: -->
				{{# each historie}}
				{{# if ereignis}}
				<div class="w3-container w3-white w3-card w3-round w3-hover-shadow w3-display-container"> 
						<div class="w3-row w3-center w3-block w3-light-grey" style="height:30px; font-size:12px; LINE-HEIGHT:0px;">
							<div class="w3-third w3-left-align">
							  <p style="font-size:11px;">&emsp;<i class="fa fa-clock-o fa-fw w3-margin-right"></i><span class="timestamp">{{ timestamp }}</span></p>
							</div>
							<div class="w3-third">
							  <p style="font-size:12px"><i class="fa fa-exclamation fa-fw w3-margin-right"></i>{{ art }}</p>
							</div>
							<div class="w3-third w3-right-align">
							  <p style="font-size:11px"><img class="icon w3-margin-right" src="./img/icons/einsatzleiter.png" alt="EL" style="width:15px; height:15px;">Führungskraft: &emsp; {{ fuehrungskraft }}&emsp;</p>
							</div>
						</div>
						
						<div class="w3-row w3-left-align">
							<p style="font-size:11px"><i class="fa fa-info-circle fa-fw w3-margin-right"></i>Informationen zum Ereignis: &emsp; <div style="font-size:11px; padding-left:30px;" class="w3-left-align">{{ ereignis }}</div></p>
						</div>
				</div>
				<br>
				{{/if}}
				{{/each}}
				<p></p>
			</div>
		</div>
		{{/if}}
		
		<div id="get_gesamtdoku" onclick="window.print()" class="w3-center w3-container w3-padding w3-white w3-round w3-border w3-hover-shadow" style="margin-top:40px; width:100%;">						
			<h6 class="w3-blue-grey w3-button " onclick="printButtonEvent()" style="height:30px; padding-top:3px;"><i class="fa fa-download w3-large w3-margin-right" id="printButton"></i> Gesamteinsatz als PDF drucken bzw. herunterladen</h6>
		</div>
		
	</div>
</div>

<!-- Footer -->
<footer class="w3-container color:#faffe6">
  <p style="font-size:12px;"><i class="fa fa-copyright" style="font-size:12px;"></i> 2019</p>
</footer>
 
<script>
// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
    x.previousElementSibling.className += " w3-theme-d1";
  } else { 
    x.className = x.className.replace("w3-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" w3-theme-d1", "");
  }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// Funktionalitaet, wenn auf Drucken geklickt
//	- Mitteilung an Server: Datenbank reseten
function printButtonEvent(id) {
	
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		if (this.readyState == 4 && this.status == 200) {
			console.log(this.responseText);
		}
	};
	xhttp.open("GET", "/resetDB", true);
	xhttp.send(); 
	
}


//download:
/*
//Download-Funktion erstellt eine PDF-Seite:
function download() {
	let doc = new jsPDF('p','mm','a4');
		//'landscape' -> Querformat | 'p' --> Hochformat
		// unit - We can tell jsPDF in which units we want to work. Use on of the following: "pt" (points), "mm" (default), "cm", "in".
	//doc.addHTML(document.body, 50, 2, {},function() {
	//doc.addPage(210,297);//mm
	doc.addHTML(document.body, 0, 2, {pagesplit:true},function() { // {} or {pagesplit:true}
		// ohne pagesplit passt der komplette Inhalt auf eine Seite (allerdings verzerrt --> d.h. je mehr Inhalt, desto unleserlich wird es..)
		// mit pagesplit ist es nicht verzerrt & der komplette Inhalt wird dargestellt, allerdings werden Seiten umständlich gesplitted.. dadurch auch unleserlich..
		doc.save('Gesamtdokumentation.pdf');
	}); //TEST1: schneidet die Webpage ab... bzw. erweitert PDF um keine weiteren Seiten
}*/

/* evtl. für workaround hilfreich:
function download(){
	var doc = new jsPDF();
	doc.text(20, 20, document.getElementById('kerndaten_gesamtdoku'));
	doc.text(20, 30, 'This is client-side Javascript, pumping out a PDF.');
	doc.addPage('a6','l');
	doc.text(20, 20, 'Do you like that?');
	doc.save('text.pdf');
}
*/
</script>

<script type="text/javascript" src="script/moment.js"></script>
<script type="text/javascript" src="script/gesamt.js"></script>