<script type="text/javascript" src="script/gesamt.js"></script>
<script type="text/javascript" src="script/einsatz.js"></script>
<script type="text/javascript" src="script/fahrzeuge.js"></script>
<script type="text/javascript" src="script/helfer.js"></script>
<script type="text/javascript" src="script/moment.js"></script>


<h3>Einsatz anlegen / bearbeiten</h3>
<form method="POST" action="/einsatz">
	<input type="hidden" name="einsatz_id" value="{{ einsatz_id }}"></input>
	<input type="text" placeholder="Sender (Drag & Drop)" name="einsatz_sender" value="{{ einsatz_sender }}"></input>
	<input type="text" placeholder="Position" name="einsatz_position" value="{{ einsatz_position }}"></input>
	<input type="text" placeholder="Meldebild" name="einsatz_meldebild" value="{{ einsatz_meldebild }}"></input>
	<input type="text" placeholder="Anzahl an Verletzten" name="einsatz_anzVerletzte" value="{{ einsatz_anzVerletzte }}"></input>
	<input type="text" placeholder="Beschreibung" name="einsatz_text" value="{{ einsatz_text }}"></input>
	<input type="text" placeholder="Status" name="einsatz_status" value="{{ einsatz_status }}"></input>
	<button type="submit">ENTER</button>
</form>
<br>
<p>{{ einsatz_fuehrungskraft }}</p>
<p>{{ einsatz_timestamp  }}</p>

<h3>Funkspruch anlegen</h3>
<form method="POST" action="/funkspruch">
	<input type="text" placeholder="Sender (Drag & Drop)" name="funkspruch_sender"></input>
	<input type="text" placeholder="Empfänger" name="funkspruch_empfaenger"></input>
	<select type="text" placeholder="Kategorie" name="funkspruch_kategorie">
		<option>Einsatz</option>
		<option>Position</option>
		<option>Lagemeldung</option>
		<option>Frage</option>
		<option>Verständigung</option>
	</select>
	<input type="text" placeholder="Beschreibung" name="funkspruch_text"></input>
	<button type="submit">Speichern</button>
</form>
<br>

<h3>Funkspruch Chronik</h3>
<a href="/funkspruchCHRONIK"><button>SHOW</button></a>

{{# if funkspruch}}
	{{# each funkspruch}}
		<p><div class="funkspruch_timestamp" id="{{ timestamp }}" style="display: inline;"> </div> Uhr: [{{ kategorie }}] von {{ sender }} zu {{ empfaenger }} Nachricht: {{ text }} - Bearbeiter: {{ fuehrungskraft.nachname }}</p>
	{{/each}}
{{/if}}

<script>
	toHour("funkspruch_timestamp"); // Aus dem empfangenen Date-String die Uhrzeit pro Funkspruch extrahieren und anzeigen
</script>