<!-- Navbar -->
<div class="w3-top" id="top" style="z-index: 5000">
	<div class="w3-bar w3-theme-d5 w3-left-align w3-medium" id="navbar" style="height:45px;"> 
	
		<a class="w3-bar-item w3-padding-larger w3-theme-d4" href="/mainpage" style="text-decoration: none; height:45px; font-size:15px;">Digitaler Führungsassistent</a>
		
		<!-- 1 Funktion = ueber Einstellungen sind nochmals alle moeglichen Aktionen, wie zum Beispiel das Anlegen eines Einsatzes aufgelistet und hierueber ebenfalls ausfuehrbar -->
		<div class="w3-dropdown-hover w3-hide-small" id="navbar_element1">
			<button class="w3-button w3-padding-larger" style="height:45px; font-size:14px;" title="Funktionalitäten"><i class="fa fa-gear fa-fw"></i>Funktionen</button>
			<div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:250px" id="navbar_element1_dropdown">
				<a href="#" style="font-size:12px" class="w3-bar-item w3-button"><i class="fa fa-address-card w3-large w3-margin-right"> <span class="fa fa-pencil w3-right w3-small"></span></i>Führungsposition ändern</a>
				<a href="#" style="font-size:12px" class="w3-bar-item w3-button"><i class="fa fa-plus w3-small w3-margin-right"> <span class="fa fa-medkit w3-right w3-large"></span></i>Notfalleinsatz anlegen</a>
				<a href="#" style="font-size:12px" class="w3-bar-item w3-button"><i class="fa fa-plus w3-small w3-margin-right"> <span class="fa fa-comments w3-right w3-large"></span></i>Funkspruch anlegen</a>
				<a href="#" style="font-size:12px" class="w3-bar-item w3-button"><i class="fa fa-plus w3-small w3-margin-right"> <span class="fa fa-ambulance w3-right w3-large"></span></i>Rettungsmittel hinzufügen</a>
				<a href="#" style="font-size:12px" class="w3-bar-item w3-button"><i class="fa fa-plus w3-small w3-margin-right"> <span class="fa fa-flag w3-right w3-large"></span></i> Sanitätsposten hinzufügen</a>
				<a href="#" style="font-size:12px" class="w3-bar-item w3-button"><i class="fa fa-plus w3-small w3-margin-right"> <span class="fa fa-user-md w3-right w3-large"></span></i> Rettungskräfte hinzufügen</a>
			</div> <!-- id="navbar_element1_dropdown -->
		</div> <!-- id="navbar_element1" -->
		
		<!-- 2 Funktion = Ueber dieses Icon gelangt man zu all den wichtigen Informationen des Großeinsatzes -->
		<div class="w3-dropdown-hover w3-hide-small" id="navbar_element2">
			<button class="w3-button w3-padding-larger" style="height:45px; font-size:14px;" title="Details zum Gesamteinsatz"><i class="fa fa-info-circle fa-fw"></i>Informationen</button>
			<div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:250px" id="navbar_element2_dropdown">
				<a href="#" style="font-size:12px"class="w3-bar-item w3-button"><i class="fa fa-plus-square w3-large w3-margin-right"> <span class="fa fa-info-circle w3-right w3-small"></span></i> Steckbrief Gesamteinsatz</a>
				<a href="#" style="font-size:12px"class="w3-bar-item w3-button"><i class="fa fa-folder-open w3-large w3-margin-right"> <span class="fa fa-clipboard w3-right w3-small"></span></i>Gemeinsame Notizen</a>
				<a href="#" style="font-size:12px"class="w3-bar-item w3-button"><i class="fa fa-folder-open w3-large w3-margin-right"> <span class="fa fa-medkit w3-right w3-small"></span></i>Chronik Notfalleinsätze</a>
				<a href="#" style="font-size:12px"class="w3-bar-item w3-button"><i class="fa fa-folder-open w3-large w3-margin-right"> <span class="fa fa-comments w3-right w3-small"></span></i>Steckbrief Funksprüche</a>
			</div> <!-- id="navbar_element2_dropdown -->
		</div> <!-- id="navbar_element2" -->
		
		<!-- 3 Funktion = Beenden und Bericht erstellen -->
		<a onclick="gesamteinsatzBeenden()" class="w3-bar-item w3-button w3-padding-larger" style="height:45px; font-size:14px;" title="Großeinsatz beenden & automatischen Bericht erstellen"><i class="fa fa-power-off fa-fw"></i>Beenden</a>
		
		<!-- Information ueber aktive Fuehrungskraft -->
		<button class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-larger" style="height:45px; font-size:14px;" title="Funktionalitäten">{{ fuehrungskraft_nachname }} ({{ fuehrungskraft_quali }})</button>
	  
	</div> <!-- id="navbar" -->
</div> <!-- id="top" -->


<br>


<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1700px; margin-top:35px">    
	<!-- The Grid -->
	<div class="w3-row" id="total_page">
  
		<!-- Left Column -->
		<div class="w3-col m2" id="left_column">
		  
			<!-- Funkspruchverwaltung -->
			<div class="w3-card w3-round" id="funkNew">
				<div class="w3-white">
					<button onclick="showDetails('funkNew_input')" class="w3-button w3-block w3-theme-d2 w3-hover-light-grey w3-left-align w3-card" style="height:35px; font-size:13px;"><i class="fa fa-plus w3-small w3-margin-right"> <span class="fa fa-comments w3-right w3-large"></span></i> Funkspruch</button>
			  
					<!-- Funkspruch anlegen - Rolldown Menue -->
					<div class="w3-hide w3-container w3-light-grey" id="funkNew_input">
						<form method="POST" action="/funkspruch" style="LINE-HEIGHT:5px;">
							<p style="font-size:9px"><i class="fa fa-send w3-small w3-margin-right"></i>Sender:</p>
							<p style="font-size:10px"><input class="w3-input w3-border dropElement" list="funkrufDataList" type="text"  placeholder="Sender (Drag & Drop)" name="funkspruch_sender" value="" style="height:25px; margin-left:auto; margin-right:auto;"></p>
							<p style="font-size:9px"><i class="fa fa-envelope-open w3-small w3-margin-right"></i>Empfänger:</p>
							<p style="font-size:10px"><input class="w3-input w3-border dropElement" list="funkrufDataList" type="text"  placeholder="Empfaenger (Drag & Drop)" name="funkspruch_empfaenger" value="" style="height:25px; margin-left:auto; margin-right:auto;"></p>
							<p style="font-size:9px"><i class="fa fa-inbox w3-small w3-margin-right"></i>Kategorie:</p>
							<p style="font-size:10px; color:gray;">
								<select class="w3-input w3-border" placeholder="Kategorie" name="funkspruch_kategorie" style="height:30px;">
									<option value="" hidden>Kategorie</option>
									<option>Einsatz</option>
									<option>Position</option>
									<option>Lagemeldung</option>
									<option>Frage</option>
									<option>Verständigung</option>
								</select>
							</p>
							<p style="font-size:9px"><i class="fa fa-file-o w3-small w3-margin-right"></i>Erweiterte Informationen:</p>
							<p style="font-size:10px"><textarea class="w3-input w3-border" type="text" placeholder="Text" name="funkspruch_text" style="height:30px; margin-left:auto; margin-right:auto; LINE-HEIGHT:11px;"></textarea></p>
							<!-- + timestamp und Führungskraft>-->
							<button style="margin-left:auto; margin-right:auto; height:25px;" type="submit" class="w3-button w3-block w3-blue-grey">Speichern</button>
							<br>
						</form>
					</div> <!-- id="funkNew_input" -->
				</div>
			</div> <!-- id="funkNew" -->
			 
			<p></p>
			
			<!-- Einsatzverwaltung -->
			<div class="w3-card w3-round" id="einsatzNew">
				<div class="w3-white">
					<button onclick="showDetails('einsatzNew_input')" class="w3-button w3-block w3-theme-d2 w3-hover-light-grey w3-left-align w3-card" style="height:35px; font-size:13px;"><i class="fa fa-plus w3-small w3-margin-right"><span class="fa fa-medkit w3-right w3-large"></span></i>Notfalleinsatz</button>
			  
					<!-- Einsatz anlegen - Rolldown Menue -->
					<div class="w3-hide w3-container w3-light-grey" id="einsatzNew_input">
						<form method="POST" action="/einsatz" style="LINE-HEIGHT:5px;" id="einsatzNew_input_form">
							<input type="hidden" name="einsatz_id" value="{{ einsatz_id }}"></input>
							<p style="font-size:9px"><i class="fa fa-pencil w3-small w3-margin-right"></i>Ersteller des Einsatzauftrags:</p>
							<p style="font-size:10px"><input class="w3-input w3-border dropElement" list="funkrufDataList" type="text"  placeholder="Sender (Drag & Drop)" name="einsatz_sender" value="" style="height:25px; margin-left:auto; margin-right:auto;"></p>
							<p style="font-size:9px"><i class="fa fa-stethoscope w3-small w3-margin-right"></i>Aktuelle Verdachtsdiagnose:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Meldebild" name="einsatz_meldebild" style="height:25px; margin-left:auto; margin-right:auto;"></p>
							<p style="font-size:9px"><i class="fa fa-users w3-small w3-margin-right"></i>Anzahl verletzter Personen:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="number" placeholder="Anzahl an Verletzten" name="einsatz_anzVerletzte" style="height:25px; margin-left:auto; margin-right:auto;" min="1"></p>
							<p style="font-size:9px"><i class="fa fa-info-circle w3-small w3-margin-right"></i>Erweiterte Informationen:</p>
							<p style="font-size:10px"><textarea class="w3-input w3-border" type="text" placeholder="Beschreibung" name="einsatz_text" style="height:30px; margin-left:auto; margin-right:auto; LINE-HEIGHT:11px;"></textarea></p>
							<p style="font-size:9px"><i class="fa fa-list w3-small w3-margin-right"></i>Aktueller Bearbeitungsgrad:</p>
							<p style="font-size:10px; color:gray;">
								<select class="w3-input w3-border" placeholder="Status" name="einsatz_status" style="height:30px;">
									<option value="" hidden>Status</option>
									<option>eingegangen</option>
									<option>Kräfte vor Ort</option>
									<option>Kräfte nachgefordert</option>
									<option>Transport in SAN-Stelle</option>
									<option>Transport in Klinik</option>
									<option>abgeschlossen</option>
								</select>
							</p>
							<p style="font-size:9px"><i class="fa fa-ambulance w3-small w3-margin-right"></i>Zugeteilte Kräfte: <i class="fa fa-plus fa-fw w3-small w3-hover-blue-grey" onclick="addInputField('div_einsatzNew', 'einsatz_kraefte')"></i><i class="fa fa-minus fa-fw w3-small w3-hover-blue-grey" onclick="removeInputField('div_einsatzNew', 'einsatz_kraefte')"></i></p>
							<p style="font-size:10px"><input class="w3-input w3-border dropElement" type="text"  list="funkrufDataList" placeholder="Tippen oder Drag&Drop" name="einsatz_kraefte" value="" style="height:25px; margin-left:auto; margin-right:auto;"></p>
							<div id="div_einsatzNew">
							</div>
							<!-- + Rettungsmittel und Position>-->
							<button style="margin-left:auto; margin-right:auto; height:25px;" type="submit" class="w3-button w3-block w3-blue-grey">Speichern</button>
							<br>
						</form> <!-- id="einsatzNew_input_form" -->
					</div> <!-- id="einsatzNew_input" -->
				</div>
			</div> <!-- id="einsatzNew" -->
			 
			<p></p>
			
			{{# if einsatz}}
			<div class="w3-card w3-round w3-theme-l4" style="overflow-y:scroll; height:530px;" id="left_scrollbar"><p></p>
				<!-- Auflistung der Einsaetze -->
				
				{{# each einsatz}}
				<div class="dragElement w3-container w3-white w3-card w3-round w3-hover-shadow" id="{{ _id }}" draggable="true">
					<button class="w3-center w3-button w3-block w3-blue-grey" style="height:30px; font-size:12px;">{{ meldebild }}</button>
					<p style="font-size:11px"><i class="fa fa-clock-o fa-fw w3-margin-right"></i><span class="timestamp">{{ timestamp }}</span> Uhr</p>
					<p style="font-size:11px"><i class="fa fa-ambulance fa-fw w3-margin-right"></i>{{ sender }}</p>
					<p style="font-size:11px"><i class="fa fa-user-md fa-fw w3-margin-right"></i></p>
					<p style="font-size:11px"><i class="fa fa-map-marker fa-fw w3-margin-right"></i>{{ standort }}</p>
				</div> <!-- id="{{ _id }}" -->
					
				<p></p>
				{{/each}}
			</div> <!-- id="left_scrollbar -->
			{{/if}}
	

      <!-- Aufgaben -->
	  <!-- 
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('neue_Aufgabe_oder_Info')" class="w3-button w3-block w3-theme-l1 w3-hover-light-grey w3-left-align w3-card"><i class="fa fa-briefcase"></i><i class="fa fa-info-circle"></i> Neue Aufgabe|Info anlegen</button>
          
		  <div id="neue_Aufgabe_oder_Info" class="w3-hide w3-container w3-light-grey">
			<p>Bitte füllen Sie Folgendes aus:</p>
			<form target="_blank">
			  <p><input class="w3-input w3-border" type="text" placeholder="Hier tippen..." name="Kurzbeschreibung" style="margin-left:auto; margin-right:auto;"required=""></p>
			  <button style="margin-left:auto; margin-right:auto;" type="submit" class="w3-button w3-block w3-blue-grey">speichern</button>
			<br>
			</form>
          </div>	  
          <button onclick="myFunction('Aufgaben|Info-Chronik')" class="w3-button w3-block w3-theme-l1 w3-hover-light-grey w3-left-align w3-card"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i>Aufgaben|Info-Chronik</button>
          <div id="Aufgaben|Info-Chronik" class="w3-hide w3-container w3-light-grey">
            <p>Auflistung der Aufgaben|Informationen: ...</p>
          </div>
		  
		  <div class="w3-container">
			  <br>
			  <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
				<span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
				  <i class="fa fa-remove"></i>
				</span>
				<p><strong>Aufgabe</strong></p>
				<p><i class="fa fa-clock-o w3-small"></i> 18:45Uhr: <br>Der 63/83-2 hat kein Bezin mehr. Diesel muss organisiert werden!<p>
			  </div>
		  </div>
		  
		</div>
	  </div>
	  -->
	  
		<br>
      <!-- Schlagwörter -> für Schnellsuche [NiceToHave]-->
	  <!--
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Schlagwörter</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">David Gondert</span>
            <span class="w3-tag w3-small w3-theme-d4">Benzin</span>
            <span class="w3-tag w3-small w3-theme-d3">Führungsleitung</span>
            <span class="w3-tag w3-small w3-theme-d2">Rettungskräfte</span>
            <span class="w3-tag w3-small w3-theme-d1">Rettungsmittel</span>
            <span class="w3-tag w3-small w3-theme">Einsatz-Chronik</span>
            <span class="w3-tag w3-small w3-theme-l1">Atemnot</span>
            <span class="w3-tag w3-small w3-theme-l2">Schichtende</span>
            <span class="w3-tag w3-small w3-theme-l3">Hilfe</span>
            <span class="w3-tag w3-small w3-theme-l4">Funkspruch</span>
            <span class="w3-tag w3-small w3-theme-l5">Essen</span>
          </p>
        </div>
      </div>
      <br>
	  -->
    
		</div> <!-- id="left_column" -->
    
    
		<!-- Middle Column -->
		<div class="w3-col m8" id="middle_colum">
		
			<div class="w3-row-padding">
				<div class="w3-col m12">
					<div class="w3-card w3-round w3-white">
					
						<div class="w3-container w3-padding" name="map">
							<div class="w3-border w3-padding dropElement" id="map" style="height: 462px;"></div>
						</div>
						
						<!--Kartenansicht auswaehlen:-->
						<div id="basemaps-wrapper" class="leaflet-bar" style="position: absolute; top: 90px; right: 310px; z-index: 400; background: white; padding: 10px;">
						  <select name="basemaps" id="basemaps" onChange="changeBasemap(basemaps)">
						    <option value="Standard">Standard</option> <!--Default-->
							<option value="Streets">Straßen</option> 
							<option value="ImageryClarity">Satellite</option>
						  </select>
						</div>
						
					</div>
				</div>
			</div>
		
			<p></p>
		
			<div class="w3-row-padding">
				<div class="w3-col m12">
					<div class="w3-card w3-round w3-white">
						<div class="w3-container w3-padding">
							<h6 class="w3-opacity">Geben Sie ein Schlagwort ein, um eine Aktion zu disponieren...</h6>
							<p style="font-size:12px"><input class="w3-input w3-border" type="text" placeholder="Hier tippen..."></p>
						</div>
					</div>
				</div>
			</div>
			
			<p></p>
			
			<!-- dynamische Informations-Anzeige -->
			<div class ="w3-row-padding">
				<div class="w3-col m12">
					<div class="w3-card w3-round w3-white">
						<!-- in Arbeit... -->
						<div id="steckbrief_gesamteinsatz" class="w3-container w3-display-container w3-padding w3-white w3-hide-small w3-round w3-border">
							<!-- onclick="this.parentElement.style.display='hidden' chronik_notfalleinsaetze.style.display='inline'"-->
							<span onclick="switchInfoDisplay()" class="w3-button w3-theme-l3 w3-display-topright">
							  <i class="fa fa-play"></i>
							</span>							
							<h6 class="w3-opacity"><i class="fa fa-plus-square w3-large w3-margin-right"> <span class="fa fa-info-circle w3-right w3-small"></span></i> Steckbrief Gesamteinsatz</h6>
							<p> ....</p>
						</div>
						
						<div id="gemeinsame_notizen" class="w3-container w3-display-container w3-padding w3-white w3-hide-small w3-round w3-border">
							<span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
							  <i class="fa fa-play"></i>
							</span>							
							<h6 class="w3-opacity"><i class="fa fa-folder-open w3-large w3-margin-right"> <span class="fa fa-clipboard w3-right w3-small"></span></i>Gemeinsame Notizen</h6>
							<p> ....</p>
						</div>
						
						<div id="chronik_notfalleinsaetze" class="w3-container w3-display-container w3-padding w3-white w3-hide-small w3-round w3-border">
							<span onclick="this.parentElement.style.display='hidden' steckbrief_gesamteinsatz.style.display='inline'" class="w3-button w3-theme-l3 w3-display-topright">
							  <i class="fa fa-play"></i>
							</span>							
							<h6 class="w3-opacity"><i class="fa fa-folder-open w3-large w3-margin-right"> <span class="fa fa-medkit w3-right w3-small"></span></i>Chronik Notfalleinsätze</h6>
							<p> ....</p>
						</div>
						
						<div id="steckbrief_funk" class="w3-container w3-display-container w3-padding w3-white w3-hide-small w3-round w3-border">
							<span onclick="this.parentElement.style.display='hidden'" class="w3-button w3-theme-l3 w3-display-topright">
							  <i class="fa fa-play"></i>
							</span>							
							<h6 class="w3-opacity"><i class="fa fa-folder-open w3-large w3-margin-right"><span class="fa fa-comments w3-right w3-small"></span></i>Steckbrief Funksprüche</h6>
							<p> ....</p>
						</div>
						
					</div>
				</div>
			</div>
			
			<br>
	 
		</div> <!-- id="middle_colum" -->
    
	
		<!-- Right Column -->
		<div class="w3-col m2" id="right_column">
		
			<div class="w3-card w3-round" id="rettungsmittelNew">
				<div class="w3-white">
					<button onclick="showDetails('rettungsmittelNew_input')" id="rettungsmittelNew_button" class="w3-button w3-block w3-theme-d2 w3-hover-light-grey w3-left-align w3-card" style="height:35px; font-size:13px;"><i class="fa fa-plus w3-small"><span class="fa fa-ambulance fa-fw w3-margin-right"></span></i>Rettungsfahrzeuge</button>
			  
					<!-- Rettungsmittel - Rolldown Menue -->
					<div class="w3-hide w3-container w3-light-grey" id="rettungsmittelNew_input">
						<form method="POST" action="/rettungsmittel" style="LINE-HEIGHT:5px;" id="rettungsmittelNew_form">
							<input type="hidden" name="rettungsmittel_id" value="" id="rettungsmittel_id"></input>
							<p style="font-size:9px"><i class="fa fa-car w3-small w3-margin-right"></i>Fahrzeugart:</p>
							<p style="font-size:10px; color:gray;">
								<select class="w3-input w3-border" placeholder="Fahrzeugart" name="rettungsmittel_art" id="rettungsmittel_art" style="height:30px;">
									<option value="" hidden>Fahrzeugart</option>
									<option value="Krankentransportwagen (KTW)">Krankentransportwagen (KTW)</option>
									<option value="Rettungswagen (RTW)">Rettungswagen (RTW)</option>
									<option value="Notarzteinsatzfahrzeug (NEF)">Notarzteinsatzfahrzeug (NEF)</option>
									<option value="Mannschaftstransportwagen (MTW)">Mannschaftstransportwagen (MTW)</option>
									<option value="Gerätewagen (GW)">Gerätewagen (GW)</option>
									<option value="Einsatzleitwagen (ELW)">Einsatzleitwagen (ELW)</option>
								</select>
							</p>
							<p style="font-size:9px"><i class="fa fa-bullhorn w3-small w3-margin-right"></i>Funkrufname:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text"  placeholder="Funkrufname" name="rettungsmittel_funkruf" style="height:25px; margin-left:auto; margin-right:auto;" id="rettungsmittel_funkruf"></p>
							<p style="font-size:9px"><i class="fa fa-user-md w3-small w3-margin-right"></i>Zugeteilte Kräfte:<i class="fa fa-plus fa-fw w3-small w3-hover-blue-grey" onclick="addInputField('div_rettungsmittelNew', 'rettungsmittel_kraefte')" id="rettungsmittel_addInputField"></i><i class="fa fa-minus fa-fw w3-small w3-hover-blue-grey" onclick="removeInputField('div_rettungsmittelNew', 'rettungsmittel_kraefte')" id="rettungsmittel_removeInputField"></i></p>
							<p style="font-size:10px"><input class="dropElement w3-input w3-border rettungsmittel_kraefte" list="funkrufDataList" type="text"  placeholder="Tippen oder Drag&Drop" name="rettungsmittel_kraefte" value="" id="rettungsmittel_kraefte" style="height:25px; margin-left:auto; margin-right:auto;"></p>
							<div id="div_rettungsmittelNew">
							</div>
							<button style="margin-left:auto; margin-right:auto; height:25px;" type="submit" class="w3-button w3-block w3-blue-grey">Speichern</button>
							<br>
						</form> <!-- id="rettungsmittelNew_form" -->
					</div> <!-- id="rettungsmittelNew_input" -->
				</div>
			</div> <!-- id="rettungsmittelNew" -->
			
			<p></p>
			
			<div class="w3-card w3-round" id="postenNew">
				<div class="w3-white">
					<button onclick="showDetails('postenNew_input')" id="postenNew_button" class="w3-button w3-block w3-theme-d2 w3-hover-light-grey w3-left-align w3-card" style="height:35px; font-size:13px;"><i class="fa fa-plus w3-small"><span class="fa fa-flag fa-fw w3-margin-right"></span></i>Sanitätsposten</button>
			  
					<!-- Sanitaetsposten - Rolldown Menue -->
					<div class="w3-hide w3-container w3-light-grey" id="postenNew_input">
						<form method="POST" action="/posten" style="LINE-HEIGHT:5px;" id="rettungskraftNew_form">
							<input type="hidden" name="posten_id" value="" id="posten_id"></input>
							<p style="font-size:9px"><i class="fa fa-bullhorn w3-small w3-margin-right"></i>Funkrufname:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text"  placeholder="Funkrufname" name="posten_funkruf" style="height:25px; margin-left:auto; margin-right:auto;" id="posten_funkruf"></p>
							<p style="font-size:9px"><i class="fa fa-user-md w3-small w3-margin-right"></i>Zugeteilte Kräfte:<i class="fa fa-plus fa-fw w3-small w3-hover-blue-grey" onclick="addInputField('div_postenNew', 'posten_kraefte')" id="posten_addInputField"></i><i class="fa fa-minus fa-fw w3-small w3-hover-blue-grey" onclick="removeInputField('div_postenNew', 'posten_kraefte')" id="posten_removeInputField"></i></p>
							<p style="font-size:10px"><input class="posten_kraefte dropElement w3-input w3-border" list="funkrufDataList" type="text"  placeholder="Tippen oder Drag&Drop" name="posten_kraefte" value="" style="height:25px; margin-left:auto; margin-right:auto;" id="posten_kraefte"></p>
							<div id="div_postenNew">
							</div>
							<button style="margin-left:auto; margin-right:auto; height:25px;" type="submit" class="w3-button w3-block w3-blue-grey">Speichern</button>
							<br>
						</form> <!-- id="rettungskraftNew_form" -->
					</div> <!-- id="postenNew_input" -->
				</div>
			</div> <!-- id="postenNew" -->
			
			<p></p>
			
			<div class="w3-card w3-round" id="rettungskraftNew">
				<div class="w3-white">
					<button onclick="showDetails('rettungskraftNew_input')" id="rettungskraftNew_button" class="w3-button w3-block w3-theme-d2 w3-hover-light-grey w3-left-align w3-card" style="height:35px; font-size:13px;"><i class="fa fa-plus w3-small"><span class="fa fa-user-md fa-fw w3-margin-right"></span></i>Rettungskraft</button>
			  
					<!-- Rettungskraft - Rolldown Menue -->
					<div class="w3-hide w3-container w3-light-grey" id="rettungskraftNew_input">
						<form method="POST" action="/rettungskraft" style="LINE-HEIGHT:5px;" id="rettungskraftNew_form">
							<input type="hidden" name="rettungskraft_id" value="" id="rettungskraft_id"></input>
							<p style="font-size:9px"><i class="fa fa-address-book w3-small w3-margin-right"></i>Vorname:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Vorname" name="rettungskraft_vorname" style="height:25px; margin-left:auto; margin-right:auto;" id="rettungskraft_vorname"></p>
							<p style="font-size:9px"><i class="fa fa-address-book w3-small w3-margin-right"></i>Nachname:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Nachname" name="rettungskraft_nachname" style="height:25px; margin-left:auto; margin-right:auto;" id="rettungskraft_nachname"></p>
							<p style="font-size:9px"><i class="fa fa-home w3-small w3-margin-right"></i>Hilfsorganisation:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Hilfsorganisation" name="rettungskraft_hiorg" style="height:25px; margin-left:auto; margin-right:auto;" id="rettungskraft_hiorg"></p>
							<p style="font-size:9px"><i class="fa fa-graduation-cap w3-small w3-margin-right"></i>Medizinische Qualifikation:</p>
							<p style="font-size:10px; color:gray;">
								<select class="w3-input w3-border" placeholder="Med. Qualifikation" name="rettungskraft_quali" id="rettungskraft_quali" style="height:30px;">
									<option value="" hidden>Med. Qualifikation</option>
									<option>Praktikant/-in (Erste Hilfe)</option>
									<option>Sanitätshelfer/-in</option>
									<option>Rettungshelfer/-in</option>
									<option>Rettungssanitäter/-in</option>
									<option>Rettungsassistent/-in</option>
									<option>Notfallsanitäter/in</option>
									<option>Notarzt/Notärztin</option>
								</select>
							</p>
							<p style="font-size:9px"><i class="fa fa-phone-square w3-small w3-margin-right"></i>Telefonnummer:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Telefonnummer" name="rettungskraft_tel" style="height:25px; margin-left:auto; margin-right:auto;" id="rettungskraft_tel"></p>
							<p style="font-size:9px"><i class="fa fa-bullhorn w3-small w3-margin-right"></i>Funkrufname:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Wenn keine Gruppenrolle" name="rettungskraft_funkruf" style="height:25px; margin-left:auto; margin-right:auto;" id="rettungskraft_funkruf"></p>
							<!-- + Rettungsmittel und Position>-->
							<button style="margin-left:auto; margin-right:auto; height:25px;" type="submit" class="w3-button w3-block w3-blue-grey">Speichern</button>
							<br>
						</form>  <!-- id="rettungskraftNew_form" -->
					</div> <!-- id="rettungskraftNew_input" -->
				</div>
			</div> <!-- id="rettungskraftNew" -->
		
			<p></p>

			<div class="w3-card w3-round w3-theme-l4" style="overflow-y:scroll; height:480px;" id="right_scrollbar"><p></p>
				{{# if rettungsmittel }}
				{{# each rettungsmittel }}
				<div class="dragElement w3-container w3-white w3-card w3-round w3-hover-shadow" draggable="true" id="{{ _id }}">
					<button onclick="updateRettungsmittel('{{ _id }}')" class="funkruf w3-center w3-button w3-block w3-orange w3-half" style="height:30px; width:75%; font-size:12px;" id="{{ funkruf }}"><i class="fa fa-ambulance w3-small w3-margin-right"></i>{{ funkruf }}</button>
					<button onclick="" class="w3-center w3-button w3-block w3-blue-grey w3-quarter" style="height:30px; font-size:10px;" title="Decline"><i class="fa fa-trash"></i></button>
					<br>
					<p style="font-size:11px"><i class="fa fa-ambulance fa-fw w3-margin-right"></i>{{ art }}</p>
					{{# if kraefte }}
					{{# each kraefte }}
					<p style="font-size:11px"><i class="fa fa-user-md fa-fw w3-margin-right"></i>{{ funkruf }} <span class="medQuali">{{ quali }}</span></p>
					{{/each}}
					{{/if}}
				</div> <!-- id="{{ _id }}" -->
				
				<p></p>
				{{/each}}
				{{/if}}
				
				{{# if posten }}
				{{# each posten }}
				<div class="dragElement w3-container w3-white w3-card w3-round w3-hover-shadow" draggable="true" id="{{ _id }}">
					<button onclick="updatePosten('{{ _id }}')" class="funkruf w3-center w3-button w3-block w3-yellow w3-half" style="height:30px; width:75%; font-size:12px;" id="{{ funkruf }}"><i class="fa fa-flag w3-small w3-margin-right"></i>{{ funkruf }}</button>
					<button onclick="{{_id}}.style.display='none'" class="w3-center w3-button w3-block w3-blue-grey w3-quarter" style="height:30px; font-size:10px;" title="Decline"><i class="fa fa-trash"></i></button>
					<br>
					{{# if kraefte }}
					{{# each kraefte }}
					<p style="font-size:11px"><i class="fa fa-user-md fa-fw w3-margin-right"></i>{{ funkruf }} <span class="medQuali">{{ quali }}</span></p>
					{{/each}}
					{{/if}}
				</div> <!-- id="{{ _id }}" -->
				
				<p></p>
				{{/each}}
				{{/if}}
				
				{{# if rettungskraft}}
				{{# each rettungskraft}}
				<p></p>
				<div class="dragElement w3-container w3-white w3-card w3-round w3-hover-shadow .w3-hover-div" draggable="true" id="{{ _id }}">
					<button onclick="updateRettungskraft('{{ _id }}')" class="funkruf w3-center w3-button w3-block w3-light-green w3-half" style="height:30px; width:75%; font-size:12px;" id="{{ funkruf }}"><i class="fa fa-user-md w3-small w3-margin-right"></i>{{ funkruf }}</button>
					<button onclick="{{_id}}.style.display='none'" class="w3-center w3-button w3-block w3-blue-grey w3-quarter" style="height:30px; font-size:10px;" title="Decline"><i class="fa fa-trash"></i></button>
					<br>
					<p style="font-size:11px"><i class="fa fa-user-md fa-fw w3-margin-right"></i><span>{{ vorname }}</span> <span>{{ nachname }}</span> <span class="medQuali">{{ quali }}</span></p>
					<p hidden>{{ hiorg }}</p>
					<p hidden>{{ tel }}</p>
				</div> <!-- id="{{ _id }}" -->
				{{/each}}
				{{/if}}
				
				<br>
			</div> <!-- id="right_scrollbar -->
		
		</div> <!-- id="right_column" -->
    

	</div> <!-- id="total_page" -->
</div>

<!-- Data lists -->
<datalist id="funkrufDataList">
	<option>Einsatzleitung</option>
</datalist>

<script>
	//beginning view of map [FYI: alternative "panTo"]
	var map = L.map('map', {contextmenu: true, contextmenuWidth: 140, contextmenuItems: [{
		text: 'Karte hier zentrieren', callback: mapZentrieren},
		]})
		.setView([48.506939, 9.203804], 14);
	
	//Map Suchfeld
    var searchControl = L.esri.Geocoding.geosearch().addTo(map);

	var results = L.layerGroup().addTo(map);

	searchControl.on('results', function(data){
	results.clearLayers();
	for (var i = data.results.length - 1; i >= 0; i--) {
	  results.addLayer(L.marker(data.results[i].latlng));
	}
	});
	//End Map Suchfeld
	
	// Fuer die Kartenansicht:
	
	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	maxZoom:19,
	attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox.satellite'
	}).addTo(map);
	
	
	var layer = L.esri.basemapLayer('Standard').addTo(map);
    var layerLabels;
	
	function setBasemap(basemap) {
		if (layer) {
		  map.removeLayer(layer);
		}

		layer = L.esri.basemapLayer(basemap);

		map.addLayer(layer);

		if (layerLabels) {
		  map.removeLayer(layerLabels);
		}

		if (basemap.includes('Imagery')) {
		  layerLabels = L.esri.basemapLayer('ImageryLabels');
		  map.addLayer(layerLabels);
		}
	}

	function changeBasemap(basemaps){
		var basemap = basemaps.value;
		setBasemap(basemap);
	}
	// End Kartenansicht
	

	
	
	
	
</script>
<script>
	function handleDragStart(e) {
		this.style.opacity = '0.4';  // this / e.target is the source node.
		e.dataTransfer.effectAllowed = 'copy'; // none, copy, copyLink, copyMove, link, linkMove, move, all und uninitialized.
		
		if (this.childNodes.length > 1) { // Einzelne Rettungskraft
			e.dataTransfer.setData('text', this.childNodes[1].innerText);
		}
		else { //Rettungsmittel oder Sanitaetsposten
			e.dataTransfer.setData('text', this.innerText);
		}
	}
	
	function handleDragOver(e) {
		if (e.preventDefault) {
			e.preventDefault(); // Necessary. Allows us to drop.
		}

		e.dataTransfer.dropEffect = 'copy';  // none, copy, copyLink, copyMove, link, linkMove, move, all und uninitialized.

		return false;
	}
	
	function handleDragEnter(e) {
		// this / e.target is the current hover target.
		this.classList.add('over');
	}
	
	function handleDragLeave(e) {
		// this / e.target is previous target element.
		this.classList.remove('over');  
	}
	
	function handleDrop(e) {
		// this / e.target is current target element.
		if (e.stopPropagation) {
			e.stopPropagation(); // stops the browser from redirecting.
		}
		
		this.value = e.dataTransfer.getData('text');
		
		if (e.toElement.id == "map") {
			
			console.log(e.dataTransfer.getData('text').nextSibling);
			
			var nextSibling = document.getElementById(e.dataTransfer.getData('text')).nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.innerText;
		
			var coordinates = map.containerPointToLatLng(L.point([e.clientX - 250,e.clientY - 50]));
			L.marker(coordinates, {icon: getIcon(nextSibling), draggable: true, keyboard: true, contextmenu: true, 
				contextmenuItems: [{text: 'Marker entfernen', index: 0, callback: markerEntfernen},
								   {text: 'Position setzen', index: 1, callback: positionSenden}]})
				.addTo(map)
				.bindPopup("<b>" + e.dataTransfer.getData('text') + "</b>");
		}
		
		return false;
	}
	
	function handleDragEnd(e) {
	  // this/e.target is the source node.
		
		this.style.opacity = '1.0';
		var dragElements = document.querySelectorAll('.dragElement');
		[].forEach.call(dragElements, function (col) {
			col.classList.remove('over');
			
		});
		var dropElements = document.querySelectorAll('.dropElement');
		[].forEach.call(dropElements, function (col) {
			col.classList.remove('over');
		});
	}
	
	var dragElements = document.querySelectorAll('.dragElement');
	[].forEach.call(dragElements, function(col) {
	  col.addEventListener('dragstart', handleDragStart, false);
	  col.addEventListener('dragend', handleDragEnd, false);
	});
	
	var dropElements = document.querySelectorAll('.dropElement');
	[].forEach.call(dropElements, function(col) {
	  col.addEventListener('dragover', handleDragOver, false);
	  col.addEventListener('dragenter', handleDragEnter, false);
	  col.addEventListener('dragleave', handleDragLeave, false);
	  col.addEventListener('drop', handleDrop, false);
	  col.addEventListener('dragend', handleDragEnd, false);
	});
	
</script>
<script>
	{{# if rettungsmittel }}
	{{# each rettungsmittel }}
		{{# if position}}
			L.marker([{{ position.lat }}, {{ position.lng }}], {icon: getIcon("{{ art }}"), draggable: true, keyboard: true, contextmenu: true, 
				contextmenuItems: [{text: 'Marker entfernen', index: 0, callback: markerEntfernen},
								   {text: 'Position setzen', index: 1, callback: positionSenden}]})
				.addTo(map)
				.bindPopup("<b>" + "{{ funkruf }}" + "</b>");
				
		{{/if}}
	{{/each}}
	{{/if}}
	
	{{# if posten }}
	{{# each posten }}
		{{# if position}}
			L.marker([{{ position.lat }}, {{ position.lng }}], {icon: getIcon(null), draggable: true, keyboard: true, contextmenu: true, 
				contextmenuItems: [{text: 'Marker entfernen', index: 0, callback: markerEntfernen},
								   {text: 'Position setzen', index: 1, callback: positionSenden}]})
				.addTo(map)
				.bindPopup("<b>" + "{{ funkruf }}" + "</b>");
				
		{{/if}}
	{{/each}}
	{{/if}}
	
	{{# if rettungskraft }}
	{{# each rettungskraft }}
		{{# if position}}
			L.marker([{{ position.lat }}, {{ position.lng }}], {icon: getIcon(null), draggable: true, keyboard: true, contextmenu: true, 
				contextmenuItems: [{text: 'Marker entfernen', index: 0, callback: markerEntfernen},
								   {text: 'Position setzen', index: 1, callback: positionSenden}]})
				.addTo(map)
				.bindPopup("<b>" + "{{ funkruf }}" + "</b>");
				
		{{/if}}
	{{/each}}
	{{/if}}
</script>
<script>
	/*
	var comfyText = (function(){
		var tag = document.querySelectorAll('textarea')
		for (var i=0; i<tag.length; i++){
			tag[i].addEventListener('paste',autoExpand)
			tag[i].addEventListener('input',autoExpand)
			tag[i].addEventListener('keyup',autoExpand)
		}
		function autoExpand(e,el){
			var el = el || e.target
			el.style.height = 'inherit'
			el.style.height = el.scrollHeight+'px'
		}
		window.addEventListener('load',expandAll)
		window.addEventListener('resize',expandAll)
		function expandAll(){
			var tag = document.querySelectorAll('textarea')
			for (var i=0; i<tag.length; i++){
			  autoExpand(e,tag[i])
			}
		}
	})()
	*/
</script>


<!-- Include von externen Funktionen -->
<script type="text/javascript" src="script/moment.js"></script>
<script type="text/javascript" src="script/gesamt.js"></script>
<script type="text/javascript" src="script/einsatz.js"></script>
<script type="text/javascript" src="script/rettungsmittel.js"></script>
<script type="text/javascript" src="script/rettungskraft.js"></script>
<script type="text/javascript" src="script/posten.js"></script>
