<!-- Include von externen Funktionen -->
<script type="text/javascript" src="script/gesamt.js"></script>
<script type="text/javascript" src="script/einsatz.js"></script>
<script type="text/javascript" src="script/fahrzeuge.js"></script>
<script type="text/javascript" src="script/helfer.js"></script>
<script type="text/javascript" src="script/moment.js"></script>

<!-- Navbar -->
<div class="w3-top" id="top">
	<div class="w3-bar w3-theme-d5 w3-left-align w3-medium" id="navbar"> 
		<a class="w3-bar-item w3-padding-larger w3-theme-d4">Digitaler Führungsassistent</a>
		
		<!-- 1 Funktion = ueber Einstellungen sind nochmals alle moeglichen Aktionen, wie zum Beispiel das Anlegen eines Einsatzes aufgelistet und hierueber ebenfalls ausfuehrbar -->
		<div class="w3-dropdown-hover w3-hide-small" id="navbar_element1">
			<button class="w3-button w3-padding-larger" title="Funktionalitäten"><i class="fa fa-gear fa-fw"></i>Funktionen</button>
			<div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px" id="navbar_element1_dropdown">
				<a href="#" class="w3-bar-item w3-button">Führungsposition ändern</a>
				<a href="#" class="w3-bar-item w3-button"><i class="fa fa-medkit fa-fw w3-margin-right"><span class="fa fa-exclamation w3-right w3-small"></span></i> Einsatz anlegen</a>
				<a href="#" class="w3-bar-item w3-button"><i class="fa fa-comments w3-margin-right"><span class="fa fa-file-text-o w3-right w3-small"></span></i>Funkspruch anlegen</a>
				<a href="#" class="w3-bar-item w3-button"><i class="fa fa-plus w3-small w3-margin-right"> <span class="fa fa-ambulance w3-right w3-large"></span></i>Rettungsmittel hinzufügen</a>
				<a href="#" class="w3-bar-item w3-button"><i class="fa fa-plus w3-small w3-margin-right"> <span class="fa fa-ambulance w3-right w3-large"></span></i>Sanitätsposten hinzufügen</a>
				<a href="#" class="w3-bar-item w3-button"><i class="fa fa-plus w3-small w3-margin-right"> <span class="fa fa-user-md w3-right w3-large"></span></i>Einsatzkräfte hinzufügen</a>
			</div> <!-- id="navbar_element1_dropdown -->
		</div> <!-- id="navbar_element1" -->
		
		<!-- 2 Funktion = Ueber dieses Icon gelangt man zu all den wichtigen Informationen des Großeinsatzes -->
		<div class="w3-dropdown-hover w3-hide-small" id="navbar_element2">
			<button class="w3-button w3-padding-larger" title="Details zum Gesamteinsatz"><i class="fa fa-info-circle fa-fw"></i>Informationen</button>
			<div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px" id="navbar_element2_dropdown">
				<a href="#" class="w3-bar-item w3-button">Steckbrief Gesamteinsatz</a>
				<a href="#" class="w3-bar-item w3-button">Chronik Individualeinsätze</a>
				<a href="#" class="w3-bar-item w3-button">Steckbrief Funksprüche</a>
			</div> <!-- id="navbar_element2_dropdown -->
		</div> <!-- id="navbar_element2" -->
		
		<!-- 3 Funktion = Beenden und Bericht erstellen -->
		<a onclick="gesamteinsatzBeenden()" class="w3-bar-item w3-button w3-padding-larger" title="Großeinsatz beenden & automatischen Bericht erstellen"><i class="fa fa-power-off fa-fw"></i>Beenden</a>
		
		<!-- Information ueber aktive Fuehrungskraft -->
		<button class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-larger" title="Funktionalitäten">{ Fuehrungskraft }</button>
	  
	</div> <!-- id="navbar" -->
</div> <!-- id="top" -->


<br>


<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1700px; margin-top:80px">    
	<!-- The Grid -->
	<div class="w3-row" id="total_page">
  
		<!-- Left Column -->
		<div class="w3-col m2" id="left_column">
		  
			<!-- Einsatzverwaltung -->
			<div class="w3-card w3-round" id="einsatzNew">
				<div class="w3-white">
					<button onclick="showDetails('einsatzNew_input')" class="w3-button w3-block w3-theme-d2 w3-hover-light-grey w3-left-align w3-card"><i class="fa fa-plus w3-small"><span class="fa fa-medkit fa-fw w3-margin-right"></span></i>Notfalleinsatz</button>
			  
					<!-- Einsatz anlegen - Rolldown Menue -->
					<div class="w3-hide w3-container w3-light-grey" id="einsatzNew_input">
						<p style="font-size:12px">Folgende Parameter erfassen:</p>
						<form method="POST" action="/einsatz">
							<p style="font-size:12px"><input class="w3-input w3-border" type="text"  placeholder="Sender (Drag & Drop)" name="einsatz_sender" style="margin-left:auto; margin-right:auto;"></p>
							<p style="font-size:12px"><input class="w3-input w3-border" type="text" placeholder="Meldebild" name="einsatz_meldebild" style="margin-left:auto; margin-right:auto;"></p>
							<p style="font-size:12px"><input class="w3-input w3-border" type="number" placeholder="Anzahl an Verletzten" name="einsatz_anzVerletzte" style="margin-left:auto; margin-right:auto;" min="1"></p>
							<p style="font-size:12px"><input class="w3-input w3-border" type="text" placeholder="Beschreibung" name="einsatz_notizen" style="margin-left:auto; margin-right:auto;"></p>
							<p style="font-size:12px; color:gray;">
								<select class="w3-input w3-border" placeholder="Status" name="einsatz_status">
									<option value="" hidden>Status</option>
									<option>aufgenommen</option>
									<option>Kräfte vor Ort</option>
									<option>Kräfte nachgefordert</option>
									<option>Transport in SAN-Stelle</option>
									<option>Transport in Klinik</option>
									<option>abgeschlossen</option>
								</select>
							</p>
							<!-- + Rettungsmittel und Position>-->
							<button style="margin-left:auto; margin-right:auto;" type="submit" class="w3-button w3-block w3-blue-grey">Speichern</button>
							<br>
						</form>
					</div> <!-- id="einsatzNew_input" -->
				</div>
			</div> <!-- id="einsatzNew" -->
			 
			<br>
			
			<div class="w3-card w3-round w3-theme-l4" style="overflow-y:scroll; height:450px;" id="left_scrollbar"><br>
				<!-- Auflistung der Einsaetze -->
				<div class="w3-container w3-white w3-card w3-round w3-hover-shadow" id="{{ einsatz_id }}">
					<button class="w3-center w3-button w3-block w3-blue-grey">Bienenstich</button>
					<p style="font-size:12px"><i class="fa fa-clock-o fa-fw w3-margin-right"></i>18:53 (seit 0 Minuten)</p>
					<p style="font-size:12px"><i class="fa fa-ambulance fa-fw w3-margin-right"></i>63/23-1</p>
					<p style="font-size:12px"><i class="fa fa-user-md fa-fw w3-margin-right"></i>63-1</p>
					<p style="font-size:12px"><i class="fa fa-map-marker fa-fw w3-margin-right"></i>Birnenstraße 23</p>
				</div> <!-- id="{{ einsatz_id }}" -->
				
				<p></p>
				
				<div class="w3-container w3-white w3-card w3-round w3-hover-shadow" id="{{ einsatz_id }}">
					<button class="w3-center w3-button w3-block w3-red">Schulterschmerzen</button>
					<p style="font-size:12px"><i class="fa fa-clock-o fa-fw w3-margin-right"></i>18:56 (seit 0 Minuten)</p>
					<p style="font-size:12px"><i class="fa fa-ambulance fa-fw w3-margin-right"></i></p>
					<p style="font-size:12px"><i class="fa fa-user-md fa-fw w3-margin-right"></i></p>
					<p style="font-size:12px"><i class="fa fa-map-marker fa-fw w3-margin-right"></i>Rathausplatz</p>
				</div> <!-- id="{{ einsatz_id }}" -->
				
				<p></p>
				
				<div class="w3-container w3-white w3-card w3-round w3-hover-shadow" id="{{ einsatz_id }}">
					<button class="w3-center w3-button w3-block w3-blue-grey">Kreislaufstillstand</button>
					<p style="font-size:12px"><i class="fa fa-clock-o fa-fw w3-margin-right"></i>18:45 (seit 0 Minuten)</p>
					<p style="font-size:12px"><i class="fa fa-ambulance fa-fw w3-margin-right"></i>63/25-1, 1/82-1</p>
					<p style="font-size:12px"><i class="fa fa-user-md fa-fw w3-margin-right"></i>Mobiler Trupp 1</p>
					<p style="font-size:12px"><i class="fa fa-map-marker fa-fw w3-margin-right"></i>Bahnhofstraße 42</p>
				</div> <!-- id="{{ einsatz_id }}" -->
				
				<p></p>
			</div> <!-- id="left_scrollbar -->
			
	

      <!-- Aufgaben -->
	  <!-- 
      <div class="w3-card w3-round">
        <div class="w3-white">
          <button onclick="myFunction('neue_Aufgabe_oder_Info')" class="w3-button w3-block w3-theme-l1 w3-hover-light-grey w3-left-align w3-card"><i class="fa fa-briefcase"></i><i class="fa fa-info-circle"></i> Neue Aufgabe|Info anlegen</button>
          
		  <div id="neue_Aufgabe_oder_Info" class="w3-hide w3-container w3-light-grey">
			<p>Bitte füllen Sie Folgendes aus:</p>
			<form target="_blank">
			  <p><input class="w3-input w3-border" type="text" placeholder="Hier tippen..." name="Kurzbeschreibung" style="margin-left:auto; margin-right:auto;"required=""></p>
			  <button style="margin-left:auto; margin-right:auto;" type="submit" class="w3-button w3-block w3-blue-grey">speichern</button>
			<br>
			</form>
          </div>	  
          <button onclick="myFunction('Aufgaben|Info-Chronik')" class="w3-button w3-block w3-theme-l1 w3-hover-light-grey w3-left-align w3-card"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i>Aufgaben|Info-Chronik</button>
          <div id="Aufgaben|Info-Chronik" class="w3-hide w3-container w3-light-grey">
            <p>Auflistung der Aufgaben|Informationen: ...</p>
          </div>
		  
		  <div class="w3-container">
			  <br>
			  <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
				<span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
				  <i class="fa fa-remove"></i>
				</span>
				<p><strong>Aufgabe</strong></p>
				<p><i class="fa fa-clock-o w3-small"></i> 18:45Uhr: <br>Der 63/83-2 hat kein Bezin mehr. Diesel muss organisiert werden!<p>
			  </div>
		  </div>
		  
		</div>
	  </div>
	  -->
	  
		<br>
      <!-- Schlagwörter -> für Schnellsuche [NiceToHave]-->
	  <!--
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Schlagwörter</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">David Gondert</span>
            <span class="w3-tag w3-small w3-theme-d4">Benzin</span>
            <span class="w3-tag w3-small w3-theme-d3">Führungsleitung</span>
            <span class="w3-tag w3-small w3-theme-d2">Einsatzkräfte</span>
            <span class="w3-tag w3-small w3-theme-d1">Rettungsmittel</span>
            <span class="w3-tag w3-small w3-theme">Einsatz-Chronik</span>
            <span class="w3-tag w3-small w3-theme-l1">Atemnot</span>
            <span class="w3-tag w3-small w3-theme-l2">Schichtende</span>
            <span class="w3-tag w3-small w3-theme-l3">Hilfe</span>
            <span class="w3-tag w3-small w3-theme-l4">Funkspruch</span>
            <span class="w3-tag w3-small w3-theme-l5">Essen</span>
          </p>
        </div>
      </div>
      <br>
	  -->
    
		</div> <!-- id="left_column" -->
    
    
		<!-- Middle Column -->
		<div class="w3-col m8" id="middle_colum">
		
			<div class="w3-row-padding">
				<div class="w3-col m12">
					<div class="w3-card w3-round w3-white">
						<div class="w3-container w3-padding">
							<div class="w3-border w3-padding" id="map" style="height: 400px;"></div>
						</div>
					</div>
				</div>
			</div>
		
			<br>
		
			<div class="w3-row-padding">
				<div class="w3-col m12">
					<div class="w3-card w3-round w3-white">
						<div class="w3-container w3-padding">
							<h6 class="w3-opacity">Geben Sie ein Schlagwort ein, um eine Aktion zu disponieren...</h6>
							<p contenteditable="true" placeholder="Hier tippen..." class="w3-border w3-padding"></p>
						</div>
					</div>
				</div>
			</div>
	 
		</div> <!-- id="middle_colum" -->
    
	
		<!-- Right Column -->
		<div class="w3-col m2" id="right_column">
		
			<div class="w3-card w3-round" id="rettungsmittelNew">
				<div class="w3-white">
					<button onclick="showDetails('rettungsmittelNew_input')" class="w3-button w3-block w3-theme-d2 w3-hover-light-grey w3-left-align w3-card"><i class="fa fa-plus w3-small"><span class="fa fa-ambulance fa-fw w3-margin-right"></span></i>Rettungsfahrzeuge</button>
			  
					<!-- Rettungsmittel - Rolldown Menue -->
					<div class="w3-hide w3-container w3-light-grey" id="rettungsmittelNew_input">
						<p style="font-size:12px">Folgende Parameter erfassen:</p>
						<form method="POST" action="/rettungsmittel">
							<p style="font-size:12px; color:gray;">
								<select class="w3-input w3-border" placeholder="Fahrzeugart" name="rettungsmittel_art">
									<option value="" hidden>Fahrzeugart</option>
									<option>Krankentransportwagen</option>
									<option>Rettungswagen</option>
									<option>Notarzteinsatzfahrzeug</option>
									<option>Mannschaftstransportwagen</option>
									<option>Gerätewagen</option>
									<option>Einsatzleitwagen</option>
								</select>
							</p>
							<!-- + Rettungsmittel und Position>-->
							<p style="font-size:12px"><input class="w3-input w3-border" type="text"  placeholder="Funkrufname" name="rettungsmittel_funkruf" style="margin-left:auto; margin-right:auto;"></p>
							<button style="margin-left:auto; margin-right:auto;" type="submit" class="w3-button w3-block w3-blue-grey">Speichern</button>
							<br>
						</form>
					</div> <!-- id="rettungsmittelNew_input" -->
				</div>
			</div> <!-- id="rettungsmittelNew" -->
			
			<p></p>
			
			<div class="w3-card w3-round" id="postenNew">
				<div class="w3-white">
					<button onclick="showDetails('postenNew_input')" class="w3-button w3-block w3-theme-d2 w3-hover-light-grey w3-left-align w3-card"><i class="fa fa-plus w3-small"><span class="fa fa-ambulance fa-fw w3-margin-right"></span></i>Sanitätsposten</button>
			  
					<!-- Sanitaetsposten - Rolldown Menue -->
					<div class="w3-hide w3-container w3-light-grey" id="postenNew_input">
						<p style="font-size:12px">Folgende Parameter erfassen:</p>
						<form method="POST" action="/posten">
							<p style="font-size:12px"><input class="w3-input w3-border" type="text"  placeholder="Funkrufname" name="posten_funkruf" style="margin-left:auto; margin-right:auto;"></p>
							<!-- + Rettungsmittel und Position>-->
							<button style="margin-left:auto; margin-right:auto;" type="submit" class="w3-button w3-block w3-blue-grey">Speichern</button>
							<br>
						</form>
					</div> <!-- id="postenNew_input" -->
				</div>
			</div> <!-- id="postenNew" -->
			
			<p></p>
			
			<div class="w3-card w3-round" id="rettungskraftNew">
				<div class="w3-white">
					<button onclick="showDetails('rettungskraftNew_input')" class="w3-button w3-block w3-theme-d2 w3-hover-light-grey w3-left-align w3-card"><i class="fa fa-plus w3-small"><span class="fa fa-ambulance fa-fw w3-margin-right"></span></i>Rettungskraft</button>
			  
					<!-- Rettungsmittel - Rolldown Menue -->
					<div class="w3-hide w3-container w3-light-grey" id="rettungskraftNew_input">
						<p style="font-size:12px">Folgende Parameter erfassen:</p>
						<form method="POST" action="/rettungsmittel">
							<p style="font-size:12px"><input class="w3-input w3-border" type="text" placeholder="Vorname" name="rettungskraft_vorname" style="margin-left:auto; margin-right:auto;"></p>
							<p style="font-size:12px"><input class="w3-input w3-border" type="text" placeholder="Nachname" name="rettungskraft_nachname" style="margin-left:auto; margin-right:auto;"></p>
							<p style="font-size:12px"><input class="w3-input w3-border" type="text" placeholder="Hilfsorganisation" name="rettungskraft_hiorg" style="margin-left:auto; margin-right:auto;"></p>
							<p style="font-size:12px; color:gray;">
								<select class="w3-input w3-border" placeholder="Med. Qualifikation" name="rettungskraft_quali">
									<option value="" hidden>Med. Qualifikation</option>
									<option>Praktikant (Erste Hilfe)</option>
									<option>Sanitätshelfer</option>
									<option>Rettungshelfer</option>
									<option>Rettungssanitäter</option>
									<option>Rettungsassistent</option>
									<option>Notfallsanitäter</option>
									<option>Notarzt</option>
								</select>
							</p>
							<p style="font-size:12px"><input class="w3-input w3-border" type="text" placeholder="Telefonnummer" name="rettungskraft_tel" style="margin-left:auto; margin-right:auto;"></p>
							<p style="font-size:12px"><input class="w3-input w3-border" type="text" placeholder="Funkrufname" name="rettungskraft_funkruf" style="margin-left:auto; margin-right:auto;"></p>
							<!-- + Rettungsmittel und Position>-->
							<button style="margin-left:auto; margin-right:auto;" type="submit" class="w3-button w3-block w3-blue-grey">Speichern</button>
							<br>
						</form>
					</div> <!-- id="rettungsmittelNew_input" -->
				</div>
			</div> <!-- id="rettungsmittelNew" -->
		
			<br>
		
			<div class="w3-card w3-round w3-theme-l4" style="overflow-y:scroll; height:338px;" id="right_scrollbar"><br>
				<!-- Auflistung der Einsaetze -->
				<div class="w3-container w3-white w3-card w3-round w3-hover-shadow" id="{{ rettungsmittel_id }}">
					<button class="w3-center w3-button w3-block w3-blue-grey">63/23-1 (RTW)</button>
					<p style="font-size:12px"><i class="fa fa-user-md fa-fw w3-margin-right"></i>P. Beyersdorffer (SAN)</p>
					<p style="font-size:12px"><i class="fa fa-user-md fa-fw w3-margin-right"></i>A. Müller (RS)</p>
				</div> <!-- id="{{ rettungsmittel_id }}" -->
				
				<p></p>
				
				<div class="w3-container w3-white w3-card w3-round w3-hover-shadow" id="{{ rettungsmittel_id }}">
					<button class="w3-center w3-button w3-block w3-blue-grey">63/25-1 (KTW)</button>
					<p style="font-size:12px"><i class="fa fa-user-md fa-fw w3-margin-right"></i>P. Storz (EH)</p>
					<p style="font-size:12px"><i class="fa fa-user-md fa-fw w3-margin-right"></i>S. Wickner (EH)</p>
				</div> <!-- id="{{ rettungsmittel_id }}" -->
				
				<p></p>
				
				<div class="w3-container w3-white w3-card w3-round w3-hover-shadow" id="{{ posten_id }}">
					<button class="w3-center w3-button w3-block w3-blue-grey">Mobiles SAN-Team 1</button>
					<p style="font-size:12px"><i class="fa fa-user-md fa-fw w3-margin-right"></i>A. Wermter (NA)</p>
					<p style="font-size:12px"><i class="fa fa-user-md fa-fw w3-margin-right"></i>S. Steddin (RA)</p>
				</div> <!-- id="{{ posten_id }}" -->
				
				<p></p>
				
				<div class="w3-container w3-white w3-card w3-round w3-hover-shadow .w3-hover-div" id="{{ rettungskraft_id }}">
					<p style="font-size:12px"><i class="fa fa-user-md fa-fw w3-margin-right"></i>J. Schuster (NFS)</p>
				</div> <!-- id="{{ rettungskraft_id }}" -->
				
				<br>
			</div> <!-- id="right_scrollbar -->
		
		</div> <!-- id="right_column" -->
    

	</div> <!-- id="total_page" -->
</div>


<script>
	//beginning view of map [FYI: alternative "panTo"]
	var map = L.map('map').setView([48.506939, 9.203804], 13);

	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	maxZoom:19,
	attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox.satellite'
	}).addTo(map);


	var searchControl = L.esri.Geocoding.geosearch().addTo(map);

	var results = L.layerGroup().addTo(map);

	searchControl.on('results', function(data){
	results.clearLayers();
	for (var i = data.results.length - 1; i >= 0; i--) {
	  results.addLayer(L.marker(data.results[i].latlng));
	}
	});

	var marker = L.marker([48.506939, 9.203804], {draggable: true})
		.addTo(map)
		.on('dragend', function() {
			var coord = String(marker.getLatLng()).split(',');
				var lat = coord[0].split('(');
				var lng = coord[1].split(')');
				//marker.bindPopup("Moved to: " + lat[1] + ", " + lng[0] + ".");
		});

	marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();

	var popup = L.popup();
	function onMapClick(e) {
		popup
			.setLatLng(e.latlng)
			.setContent("Position: " + e.latlng.toString())
			.openOn(map);
	}

	map.on('click', onMapClick);

		var map_rtw = L.icon({
		iconUrl: './img/icons/map_rtw.png',
		//shadowUrl: 'leaf-shadow.png',

		iconSize:     [100, 47], // size of the icon
		//shadowSize:   [50, 64], // size of the shadow
		iconAnchor:   [22, 94], // point of the icon which will correspond to marker's location
		//shadowAnchor: [4, 62],  // the same for the shadow
		popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
	});

	var rtwMarker = L.marker([48.50, 9.17], {icon: map_rtw, draggable: true})
		.addTo(map)
		.on('dragend', function() {
			var coord = String(rtwMarker.getLatLng()).split(',');
				var lat = coord[0].split('(');
				var lng = coord[1].split(')');
				//marker.bindPopup("Moved to: " + lat[1] + ", " + lng[0] + ".");
		});
	rtwMarker.bindPopup("<b>RTW 63/23-1</b><br>Status 3");
</script>