<!-- Navbar -->
<div class="w3-top" id="top" style="z-index: 5000">
	<div class="w3-bar w3-theme-d5 w3-left-align w3-medium" id="navbar" style="height:45px;"> 
	
		<a class="w3-bar-item w3-padding-larger w3-theme-d4" href="/mainpage" style="text-decoration: none; height:45px; font-size:15px;">Digitaler Führungsassistent</a>
		
		<!-- 1 Funktion = ueber Einstellungen sind nochmals alle moeglichen Aktionen, wie zum Beispiel das Anlegen eines Einsatzes aufgelistet und hierueber ebenfalls ausfuehrbar -->
		<div class="w3-dropdown-hover w3-hide-small" id="navbar_element1">
			<button class="w3-button w3-padding-larger" style="height:45px; font-size:14px;" title="Funktionalitäten"><i class="fa fa-gear fa-fw"></i>Funktionen</button>
			<div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:250px" id="navbar_element1_dropdown">
				<a href="javascript:void(0)"  onclick="clickOn('einsatzNew_button')"  style="font-size:12px" class="w3-bar-item w3-button"><i class="fa fa-plus w3-small w3-margin-right"> <span class="fa fa-medkit w3-right w3-large"></span></i>Notfalleinsatz anlegen</a>
				<a href="javascript:void(0)"  onclick="clickOn('funkNew_button')" style="font-size:12px" class="w3-bar-item w3-button"><i class="fa fa-plus w3-small w3-margin-right"> <span class="fa fa-comments w3-right w3-large"></span></i>Funkspruch anlegen</a>
				<a href="javascript:void(0)"  onclick="clickOn('rettungsmittelNew_button')" style="font-size:12px" class="w3-bar-item w3-button"><i class="fa fa-plus w3-small w3-margin-right"> <span class="fa fa-ambulance w3-right w3-large"></span></i>Rettungsfahrzeug hinzufügen</a>
				<a href="javascript:void(0)"  onclick="clickOn('postenNew_button')" style="font-size:12px" class="w3-bar-item w3-button"><i class="fa fa-plus w3-small w3-margin-right"> <span class="fa fa-flag w3-right w3-large"></span></i> Sanitätsposten hinzufügen</a>
				<a href="javascript:void(0)"  onclick="clickOn('rettungskraftNew_button')" style="font-size:12px" class="w3-bar-item w3-button"><i class="fa fa-plus w3-small w3-margin-right"> <span class="fa fa-user-md w3-right w3-large"></span></i> Rettungskraft hinzufügen</a>
				<a href="/elNEW" style="font-size:12px" class="w3-bar-item w3-button"><i class="fa fa-address-card w3-large w3-margin-right"> <span class="fa fa-pencil w3-right w3-small"></span></i>Führungsposition ändern</a>
			</div> <!-- id="navbar_element1_dropdown -->
		</div> <!-- id="navbar_element1" -->
		
		<!-- 2 Funktion = Ueber dieses Icon gelangt man zu all den wichtigen Informationen des Großeinsatzes -->
		<div class="w3-dropdown-hover w3-hide-small" id="navbar_element2">
			<button class="w3-button w3-padding-larger" style="height:45px; font-size:14px;" title="Details zum Gesamteinsatz"><i class="fa fa-info-circle fa-fw"></i>Informationen</button>
			<div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:250px" id="navbar_element2_dropdown">
				<a href="javascript:void(0)" onclick="switchInfoDisplayNavBar('kerndaten')" style="font-size:12px"class="w3-bar-item w3-button"><i class="fa fa-plus-square w3-large w3-margin-right"> <span class="fa fa-info-circle w3-right w3-small"></span></i> Steckbrief Gesamteinsatz</a>
				<a href="javascript:void(0)" onclick="switchInfoDisplayNavBar('notiz')"  style="font-size:12px"class="w3-bar-item w3-button"><i class="fa fa-folder-open w3-large w3-margin-right"> <span class="fa fa-clipboard w3-right w3-small"></span></i>Gemeinsame Notizen</a>
				<a href="javascript:void(0)" onclick="switchInfoDisplayNavBar('einsatzChronik')"  style="font-size:12px"class="w3-bar-item w3-button"><i class="fa fa-folder-open w3-large w3-margin-right"> <span class="fa fa-medkit w3-right w3-small"></span></i>Chronik Notfalleinsätze</a>
				<a href="javascript:void(0)" onclick="switchInfoDisplayNavBar('funkChronik')"  style="font-size:12px"class="w3-bar-item w3-button"><i class="fa fa-folder-open w3-large w3-margin-right"> <span class="fa fa-comments w3-right w3-small"></span></i>Steckbrief Funksprüche</a>
			</div> <!-- id="navbar_element2_dropdown -->
		</div> <!-- id="navbar_element2" -->
		
		<!-- 3 Funktion = Beenden und Bericht erstellen -->
		<a  onclick="gesamteinsatzBeenden()" class="w3-bar-item w3-button w3-padding-larger" style="height:45px; font-size:14px;" title="Großeinsatz beenden & automatischen Bericht erstellen" id="beendenButton"><i class="fa fa-power-off fa-fw"></i>Beenden</a>
		
		<!-- 4 Funktion = Hilfe zur Bedienung des Digitalen Führungsassistenten -->
		<a  onclick="openOtherModal('modal_help')" class="w3-bar-item w3-button w3-padding-larger" style="height:45px; font-size:14px;" title="Hilfe zur Bedienung des Digitalen Führungsassistenten" id="beendenButton"><i class="fa fa-question-circle fa-fw"></i>Hilfe</a>
		
		<!-- Reload Button: -->
		<a href="/mainpage" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-larger" style="height:45px; width:10px;;" title="Seite neuladen" id="reloadButton"><i class="fa fa-refresh w3-right"></i></a>
		
		<!-- Information ueber aktive Fuehrungskraft -->
		<button class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-larger" style="height:45px; font-size:14px;" title="Einsatzleiter">{{# if fuehrungskraft_istEL }}<img class="icon" src="./img/icons/einsatzleiter.png" alt="Einsatzleiter" style="width:20px; height:20px;">{{/if}} {{ fuehrungskraft_nachname }} ({{ fuehrungskraft_quali }})</button>
	  
	</div> <!-- id="navbar" -->
</div> <!-- id="top" -->


<br>

<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1700px; margin-top:35px">    
	<!-- The Grid -->
	<div class="w3-row" id="total_page">
  
		<!-- Left Column -->
		<div class="w3-col m2" id="left_column">
		  
			<!-- Funkspruchverwaltung -->
			<div class="w3-card w3-round" id="funkNew">
				<div class="w3-white">
					<button onclick="showDetails('funkNew_input')" id="funkNew_button" class="w3-button w3-block w3-theme-d2 w3-hover-light-grey w3-left-align w3-card" style="height:35px; font-size:13px;"><i class="fa fa-plus w3-small w3-margin-right"> <span class="fa fa-comments w3-right w3-large"></span></i> Funkspruch</button>
			  
					<!-- Funkspruch anlegen - Rolldown Menue -->
					<div class="w3-hide w3-container w3-light-grey" id="funkNew_input">
						<form method="POST" action="/funkspruch" style="LINE-HEIGHT:5px;">
							<p style="font-size:9px"><i class="fa fa-send w3-small w3-margin-right"></i>Sender:</p>
							<p style="font-size:10px"><input class="w3-input w3-border dropElement" list="funkrufDataList" type="text"  placeholder="Tippen oder Drag&Drop" name="funkspruch_sender" value="" style="height:25px; margin-left:auto; margin-right:auto;"></p>
							<p style="font-size:9px"><i class="fa fa-envelope-open w3-small w3-margin-right"></i>Empfänger:</p>
							<p style="font-size:10px"><input class="w3-input w3-border dropElement" list="funkrufDataList" type="text"  placeholder="Tippen oder Drag&Drop" name="funkspruch_empfaenger" value="" style="height:25px; margin-left:auto; margin-right:auto;"></p>
							<p style="font-size:9px"><i class="fa fa-inbox w3-small w3-margin-right"></i>Kategorie:</p>
							<p style="font-size:10px; color:gray;">
								<select class="w3-input w3-border" placeholder="Kategorie" name="funkspruch_kategorie" style="height:30px;">
									<option value="" hidden>Kategorie</option>
									<option>Einsatz</option>
									<option>Auftrag</option>
									<option>Position</option>
									<option>Status</option>
									<option>Lagemeldung</option>
									<option>Frage</option>
								</select>
							</p>
							<p style="font-size:9px"><i class="fa fa-file-o w3-small w3-margin-right"></i>Erweiterte Informationen:</p>
							<p style="font-size:10px"><textarea class="w3-input w3-border" type="text" placeholder="Text" name="funkspruch_text" style="height:30px; margin-left:auto; margin-right:auto; LINE-HEIGHT:11px;"></textarea></p>
							<!-- + timestamp und Führungskraft>-->
							<button style="margin-left:auto; margin-right:auto; height:25px;" type="submit" class="w3-button w3-block w3-blue-grey">Speichern</button>
							<br>
						</form>
					</div> <!-- id="funkNew_input" -->
				</div>
			</div> <!-- id="funkNew" -->
			 
			<p></p>
			
			<!-- Einsatzverwaltung -->
			<div class="w3-card w3-round" id="einsatzNew">
				<div class="w3-white">
					<button onclick="showDetails('einsatzNew_input')" id="einsatzNew_button" class="w3-button w3-block w3-theme-d2 w3-hover-light-grey w3-left-align w3-card" style="height:35px; font-size:13px;"><i class="fa fa-plus w3-small w3-margin-right"><span class="fa fa-medkit w3-right w3-large"></span></i>Notfalleinsatz</button>
			  
					<!-- Einsatz anlegen - Rolldown Menue -->
					<div class="w3-hide w3-container w3-light-grey" id="einsatzNew_input">
						<form method="POST" action="/einsatz" style="LINE-HEIGHT:5px;" id="einsatzNew_input_form">
							<input type="hidden" name="einsatz_id" value="{{ einsatz_id }}" id="einsatz_id"></input>
							<p style="font-size:9px"><i class="fa fa-pencil w3-small w3-margin-right"></i>Ersteller des Einsatzauftrags:</p>
							<p style="font-size:10px"><input class="w3-input w3-border dropElement" list="funkrufDataList" type="text"  placeholder="Tippen oder Drag&Drop" name="einsatz_sender" value="" style="height:25px; margin-left:auto; margin-right:auto;" id="einsatz_sender"></p>
							<p style="font-size:9px"><i class="fa fa-stethoscope w3-small w3-margin-right"></i>Aktuelle Verdachtsdiagnose:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Meldebild" name="einsatz_meldebild" style="height:25px; margin-left:auto; margin-right:auto;" id="einsatz_meldebild"></p>
							<p style="font-size:9px"><i class="fa fa-info-circle w3-small w3-margin-right"></i>Allgemeine Lage:</p>
							<p style="font-size:10px"><textarea class="w3-input w3-border" type="text" placeholder="Beschreibung" name="einsatz_text" style="height:30px; margin-left:auto; margin-right:auto; LINE-HEIGHT:11px;" id="einsatz_text"></textarea></p>
							<p style="font-size:9px"><i class="fa fa-arrow-right w3-small w3-margin-right"></i>Aktueller Status:</p>
							<p style="font-size:10px; color:gray;">
								<select class="w3-input w3-border" placeholder="Status" name="einsatz_status" style="height:30px;" id="einsatz_status">
									<option value="" hidden>Bitte auswählen</option>
									<option style="color:#e60000;">Eingegangen</option>
									<option style="color:#e60000;">Kräfte alarmiert</option>
									<option style="color:#00cccc;">Auftrag übernommen</option>
									<option style="color:#00cccc;">An Einsatzstelle angekommen</option>
									<option style="color:#00cccc;">Patient/in aufgenommen</option>
									<option style="color:#607d8b;">Transportziel erreicht</option>
								</select>
							</p>
							<p style="font-size:9px"><i class="fa fa-heartbeat w3-small w3-margin-right"></i>Verbleib des Patienten:</p>
							<p style="font-size:10px; color:gray;">
								<select class="w3-input w3-border" placeholder="Status" name="einsatz_verbleibPatient" style="height:30px;" id="einsatz_verbleibPatient">
									<option value="" hidden>Bitte auswählen</option>
									<option value="Eigenständig zur Veranstaltung">Eigenständig zur Veranstaltung</option>
									<option value="Eigenständig nach Hause">Eigenständig nach Hause</option>
									<option value="Eigenständig in die Klinik">Eigenständig in die Klinik</option>
									<option value="KTW-Transport in die Klinik">KTW-Transport in die Klinik</option>
									<option value="RTW-Transport in die Klinik">RTW-Transport in die Klinik</option>
								</select>
							</p>
							<p style="font-size:9px"><i class="fa fa-ambulance w3-small w3-margin-right"></i>Zugeteilte Kräfte: <i class="fa fa-plus fa-fw w3-small w3-hover-blue-grey" onclick="addInputField('div_einsatzNew', 'einsatz_kraefte')" id="einsatz_addInputField"></i><i class="fa fa-minus fa-fw w3-small w3-hover-blue-grey" onclick="removeInputField('div_einsatzNew', 'einsatz_kraefte')"></i></p>
							<p style="font-size:10px"><input class="einsatz_kraefte w3-input w3-border dropElement" type="text"  list="funkrufDataList" placeholder="Tippen oder Drag&Drop" name="einsatz_kraefte" value="" style="height:25px; margin-left:auto; margin-right:auto;"></p>
							<div id="div_einsatzNew">
							</div>
							<!-- + Rettungsmittel und Position>-->
							<button style="margin-left:auto; margin-right:auto; height:25px;" type="submit" class="w3-button w3-block w3-blue-grey">Speichern</button>
							<br>
						</form> <!-- id="einsatzNew_input_form" -->
					</div> <!-- id="einsatzNew_input" -->
				</div>
			</div> <!-- id="einsatzNew" -->
			 
			<p></p>
			
			{{# if einsatz}}
			<div class="w3-card w3-round w3-theme-l4" style="overflow-y:scroll; height:590px;" id="left_scrollbar"><p></p>
				<!-- Auflistung der Einsaetze -->
				
				{{# each einsatz}}
				{{# if aktiv}}
				<div class="einsatz dragElement w3-container w3-white w3-card w3-round w3-hover-shadow" id="{{ _id }}" draggable="true">
					<button class="w3-center w3-button w3-block w3-blue-grey w3-half" onclick="updateEinsatz('{{ _id }}')" style="height:30px; width:75%; font-size:12px;" title="Bearbeiten" id="{{ meldebild }}">{{ meldebild }}</button>
					<form method="POST" action="/einsatzClose" id="einsatzClose_form">
						<input type="hidden" name="einsatz_id" value="{{ _id }}"></input>
						<button type="submit" class="w3-center w3-button w3-block w3-blue-grey w3-quarter" style="height:30px; font-size:10px; border-left: 1px solid white;" title="Abschließen"><i class="fa fa-check-square-o"></i></button>
					</form>
					<p style="font-size:11px"><i class="fa fa-arrow-right fa-fw w3-margin-right"></i>{{ status }}</p>
					<p style="font-size:11px"><i class="fa fa-clock-o fa-fw w3-margin-right"></i><span class="timestamp">{{ timestamp }}</span> Uhr</p>
					<p hidden>{{ sender }} </p>
					<p hidden>{{ text }} </p>
					<p hidden>{{ verbleibPatient }} </p>
					{{# if rettungsmittel}}
					{{# each rettungsmittel}}
						<p style="font-size:11px"><i class="fa fa-ambulance fa-fw w3-margin-right"></i>{{ funkruf }} <span class="fahrzeugArt">{{ art }}</span></p>
					{{/each}}
					{{/if}}
					
					{{# if posten}}
					{{# each posten}}
						<p style="font-size:11px"><i class="fa fa-flag fa-fw w3-margin-right"></i>{{ funkruf }}</p>
					{{/each}}
					{{/if}}
					
					{{# if rettungskraefte}}
					{{# each rettungskraefte}}
						<p style="font-size:11px"><i class="fa fa-user-md fa-fw w3-margin-right"></i>{{ funkruf }} <span class="medQuali">{{ quali }}</span></p>
					{{/each}}
					{{/if}}
				</div> <!-- id="{{ _id }}" -->
				<p></p>
				{{/if}}
				{{/each}}
			</div>
			{{/if}}

      <!-- Schlagwörter -> für Schnellsuche [NiceToHave]-->
	  <!--
      <div class="w3-card w3-round w3-white w3-hide-small">
        <div class="w3-container">
          <p>Schlagwörter</p>
          <p>
            <span class="w3-tag w3-small w3-theme-d5">David Gondert</span>
            <span class="w3-tag w3-small w3-theme-d4">Benzin</span>
            <span class="w3-tag w3-small w3-theme-d3">Führungsleitung</span>
            <span class="w3-tag w3-small w3-theme-d2">Rettungskräfte</span>
            <span class="w3-tag w3-small w3-theme-d1">Rettungsmittel</span>
            <span class="w3-tag w3-small w3-theme">Einsatz-Chronik</span>
            <span class="w3-tag w3-small w3-theme-l1">Atemnot</span>
            <span class="w3-tag w3-small w3-theme-l2">Schichtende</span>
            <span class="w3-tag w3-small w3-theme-l3">Hilfe</span>
            <span class="w3-tag w3-small w3-theme-l4">Funkspruch</span>
            <span class="w3-tag w3-small w3-theme-l5">Essen</span>
          </p>
        </div>
      </div>
      <br>
	  -->
    
		</div> <!-- id="left_column" -->
    
    
		<!-- Middle Column -->
		<div class="w3-col m8" id="middle_colum">
		
			<div class="w3-row-padding">
				<div class="w3-col m12">
					<div class="w3-card w3-round w3-white">
					
						<div class="w3-container w3-padding" name="map">
							<div class="w3-border w3-padding dropElement" id="map" style="height: 462px;"></div>
						</div>
						
						<!--Kartenansicht auswaehlen:-->
						<div id="basemaps-wrapper" class="leaflet-bar" style="position: absolute; top: 90px; right: 310px; z-index: 400; background: white; padding: 10px;">
						  <select name="basemaps" id="basemaps" onChange="changeBasemap(basemaps)">
						    <option value="Standard">Standard</option> <!--Default-->
							<option value="Streets">Straßen</option> 
							<option value="ImageryClarity">Satellite</option>
						  </select>
						</div>
						
					</div>
				</div>
			</div>
		
			<p></p>
			{{# if fuehrungskraft_setEL }}
			{{else}}
			<!-- das Modal soll nach dem LOGIN/der  REGISTRATION auftauchen, damit zum Einsatzbeginn sofort die Führungsposition festgelegt werden kann & die Kerndaten angegeben werden können -->
			<!-- Bedingung: Es darf nicht bei jedem "Reload" der mainpage angezeigt werden -->
			<div id="modal_einsatzbeginn" class="w3-modal" style="z-index:5000;">
				<div class="w3-modal-content w3-card w3-padding-small">
				  <div class="w3-modal-header w3-light-grey">
					<span onclick="fuehrungspositionSpeichern()" class="w3-button w3-light-grey w3-display-topright w3-padding-small">
							  <i class="fa fa-remove" ></i>
				    </span>	
					<h3 style="font-size:26px;"><center>Festlegung der Führung:</center></h3>
				  </div>
				  <div class="w3-modal-body w3-white" style="font-size:14px;">
					<p class="w3-yellow"><i class="fa fa-exclamation-triangle fa-fw w3-margin-right"></i> Beachten Sie bitte den <b>Einsatzleiter </b><b>vor</b> dem Start einzutragen und über den Gesamteinsatz <b>aktuell</b> zu halten!</p>
					<p style="font-size:12px;"><i class="fa fa-info-circle fa-fw w3-margin-right"></i> Die Führungsposition kann jederzeit über den Reiter "Funktionen"-->"Führungsposition ändern" in der oberen Leiste der Hauptseite geändert werden.</p>
					
					
					<form method="POST" action="/el" id="el_form">
						<p>"Ich bin an dem Gesamteinsatz als... </p>
						&emsp; <input id="EL_true" type="radio" name="fuehrungsposten" value="einsatzleiter" checked> Einsatzleiter/in<br>
						&emsp; <input id="EL_false"type="radio" name="fuehrungsposten" value="fuehrungsassistent"> Führungsassistent/in<br>
						<p>...beteiligt."</p>
						<br>
						<div class="w3-modal-header w3-light-grey">
						<h3 style="font-size:26px;"><center>Angaben über den Gesamteinsatz:</center></h3>
						</div>
						<p class="w3-yellow"><i class="fa fa-exclamation-triangle fa-fw w3-margin-right"></i> Bitte geben Sie <b> vor </b> dem Einsatzbeginn noch folgende <b>Kerndaten des Gesamteinsatzes</b> an:</p>
						<p style="font-size:12px;"><i class="fa fa-info-circle fa-fw w3-margin-right"></i>Nach Eingabe der geforderten Angaben wird der Gesamteinsatz automatisch gestartet.</p>
						{{# if kerndaten}}
						{{# each kerndaten}}
							<input hidden name="kerndaten_id" value="{{ _id }}"></input>
							<p style="font-size:10px"><i class="fa fa-tag w3-small w3-margin-right"></i>Titel des Gesamteinsatzes:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text"  placeholder="Titel" name="kerndaten_titel" value="{{ titel }}" id="kerndaten_titel" style="height:25px; margin-left:auto; margin-right:auto;" required></p>
							<p style="font-size:10px"><i class="fa fa-road w3-small w3-margin-right"></i>Straße:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Straße" name="kerndaten_strasse" value="{{ strasse }}" id="kerndaten_strasse" style="height:25px; margin-left:auto; margin-right:auto;" required></input></p>
							<p style="font-size:10px"><i class="fa fa-map-o w3-small w3-margin-right"></i>Postleitzahl:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Postleitzahl" name="kerndaten_plz" value="{{ plz }}" id="kerndaten_plz" style="height:25px; margin-left:auto; margin-right:auto;" required></input></p>
							<p style="font-size:10px"><i class="fa fa-map-signs w3-small w3-margin-right"></i>Ort:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Ort" name="kerndaten_ort" value="{{ ort }}" id="kerndaten_ort" style="height:25px; margin-left:auto; margin-right:auto;" required></input></p>
							<p style="font-size:10px"><i class="fa fa-exclamation-triangle w3-small w3-margin-right"></i>Risikoeinschätzung:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Risiko" name="kerndaten_risiko" value="{{ risiko }}" id="kerndaten_risiko" style="height:25px; margin-left:auto; margin-right:auto;" required></input></p>
							<p style="font-size:10px"><i class="fa fa-info-circle w3-small w3-margin-right"></i>Erweiterte Informationen:</p>
							<p style="font-size:10px"><textarea class="w3-input w3-border" type="text" placeholder="Beschreibung" name="kerndaten_lage"  value="{{ lage }}" style="height:30px; margin-left:auto; margin-right:auto; LINE-HEIGHT:11px;">{{ lage }}</textarea></p>
						{{/each}}
						{{/if}}
						{{# if kerndaten}}
						{{else}}
							<input hidden name="kerndaten_id" value=""></input>
							<p style="font-size:10px"><i class="fa fa-tag w3-small w3-margin-right"></i>Titel des Gesamteinsatzes:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text"  placeholder="Titel" name="kerndaten_titel" value="" id="kerndaten_titel" style="height:25px; margin-left:auto; margin-right:auto;" required></p>
							<p style="font-size:10px"><i class="fa fa-road w3-small w3-margin-right"></i>Straße:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Straße" name="kerndaten_strasse" value="" id="kerndaten_strasse" style="height:25px; margin-left:auto; margin-right:auto;" required></input></p>
							<p style="font-size:10px"><i class="fa fa-map-o w3-small w3-margin-right"></i>Postleitzahl:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Postleitzahl" name="kerndaten_plz" value="" id="kerndaten_plz" style="height:25px; margin-left:auto; margin-right:auto;" required></input></p>
							<p style="font-size:10px"><i class="fa fa-map-signs w3-small w3-margin-right"></i>Ort:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Ort" name="kerndaten_ort" value="" id="kerndaten_ort" style="height:25px; margin-left:auto; margin-right:auto;" required></input></p>
							<p style="font-size:10px"><i class="fa fa-exclamation-triangle w3-small w3-margin-right"></i>Risikoeinschätzung:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Risiko" name="kerndaten_risiko" value="" id="kerndaten_risiko" style="height:25px; margin-left:auto; margin-right:auto;" required></input></p>
							<p style="font-size:10px"><i class="fa fa-info-circle w3-small w3-margin-right"></i>Erweiterte Informationen:</p>
							<p style="font-size:10px"><textarea class="w3-input w3-border" type="text" placeholder="Beschreibung" name="kerndaten_lage"  value="" style="height:30px; margin-left:auto; margin-right:auto; LINE-HEIGHT:11px;"></textarea></p>
						{{/if}}
						<p></p>
						
						<button style="margin-left:auto; margin-right:auto; height:35px; width:400px;" type="submit" class="w3-button w3-block w3-blue-grey">Speichern</button>
					</form> <!-- id="el_form" -->
				  </div>
				  <div class="w3-modal-footer">
				  <!-- Falls es einen extra START-Button gibt-->
					<h6 class="w3-light-grey" Style="font-size:12px;"> &emsp; </h6>
				  </div>
				</div>
			</div>
			{{/if}}
			
			<p></p>
		
			<div class="w3-row-padding">
				<div class="w3-col m12">
					<div class="w3-card w3-round w3-white">
						<div class="w3-container w3-padding">
							<h6 class="w3-opacity">Speichern Sie Notizen, um diese später zu bearbeiten...</h6>
							<form method="POST" action="/notizNew" id="notizNew_form">
								<p style="font-size:12px"><input class="w3-input w3-border" type="text" name="text" placeholder="Hier tippen..."></input></p>
								<button type="submit" hidden></button>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<p></p>
			
			<!-- dynamische Informations-Anzeige -->
			<div class ="w3-row-padding">
				<div class="w3-col m12">
					<div class="w3-card w3-round w3-white">
					
						<div id="kerndaten" class="w3-container w3-display-container w3-padding w3-white w3-hide-small w3-round w3-border">
							<span onclick="switchInfoDisplay('kerndaten')" class="w3-button w3-theme-l3 w3-display-topright">
							  <i class="fa fa-play" onclick="switchInfoDisplay('kerndaten')"></i>
							</span>							
							<h6><i class="fa fa-plus-square w3-large w3-margin-right"> <span class="fa fa-info-circle w3-right w3-small"></span></i> Steckbrief Gesamteinsatz</h6>
							{{# if kerndaten}}
							<div class="w3-card w3-round w3-theme-l4" style="overflow-y:scroll; height:650px;" id="middle_scrollbar1"><p></p>
								{{# each kerndaten}}
								<div class="w3-container w3-white w3-card w3-round w3-hover-shadow" id="{{ _id }}">
										<div class="w3-row w3-center w3-block w3-blue-grey" style="height:30px; font-size:12px; LINE-HEIGHT:0px;">
											<div class="w3-third w3-left-align">
											  <p style="font-size:11px">&emsp; {{ datum }}</p>
											</div>
											<div class="w3-third">
											  <p style="font-size:12px"><i class="fa fa-plus-square fa-fw w3-margin-right"></i>{{ titel }}</p>
											</div>
										</div>
										<div class="w3-row w3-left-align">
											<div class="w3-half">
											  <p style="font-size:11px"><i class="fa fa-map-marker fa-fw w3-margin-right"></i>Adresse:  &emsp; {{ strasse }}, {{ plz }} {{ ort }}</p>
											</div>
											<div class="w3-half">
											  <p style="font-size:11px"><i class="fa fa-exclamation-triangle fa-fw w3-margin-right"></i>Risikoeinstufung: &emsp; {{ risiko }} </p>
											</div>
										</div>
									<p style="font-size:11px"><i class="fa fa-info-circle fa-fw w3-margin-right"></i>Beschreibung: <div style="font-size:11px; padding-left:30px;"> {{ lage }}</div></p>
								</div> <!-- id="{{ _id }}" -->
									
								<p></p>
								{{/each}}
							</div> <!-- id="middle_scrollbar1 -->
							{{/if}}
						</div>
						
						<div id="notiz" hidden class="w3-container w3-display-container w3-padding w3-white w3-hide-small w3-round w3-border">
							<span onclick="switchInfoDisplay('notiz')" class="w3-button w3-theme-l3 w3-display-topright">
							  <i class="fa fa-play" onclick="switchInfoDisplay('notiz')"></i>
							</span>							
							<h6><i class="fa fa-folder-open w3-large w3-margin-right"> <span class="fa fa-clipboard w3-right w3-small"></span></i>Gemeinsame Notizen</h6>
							{{# if notiz}}
							<div class="w3-card w3-round w3-theme-l4" style="overflow-y:scroll; height:650px;" id="middle_scrollbar2"><p></p>
								<!-- Auflistung aller gespeicherten Notizen: -->
								
								{{# each notiz}}
								<div class="w3-container w3-white w3-card w3-round w3-hover-shadow" id="{{ _id }}">
									<p class="w3-center w3-block w3-blue-grey" style="height:20px; font-size:12px;"><i class="fa fa-clipboard fa-fw "></i></p>
									
									<p style="font-size:11px"><i class="fa fa-clipboard fa-fw w3-margin-right"></i> {{ text }} </p>
								</div> <!-- id="{{ _id }}" -->
									
								<p></p>
								{{/each}}
							</div> <!-- id="middle_scrollbar2 -->
							{{/if}}
						</div>
						
						<div id="einsatzChronik" hidden class="w3-container w3-display-container w3-padding w3-white w3-hide-small w3-round w3-border">
							<span onclick="switchInfoDisplay('einsatzChronik')" class="w3-button w3-theme-l3 w3-display-topright">
							  <i class="fa fa-play" onclick="switchInfoDisplay('einsatzChronik')"></i>
							</span>							
							<h6><i class="fa fa-folder-open w3-large w3-margin-right"> <span class="fa fa-medkit w3-right w3-small"></span></i>Chronologie der Notfalleinsätze</h6>
							<p style="font-size:13px"> Informationen zu allen abgeschlossenen und laufenden Notfalleinsätzen: </p>
								{{# if einsatz}}
								<div class="w3-card w3-round w3-theme-l4" style="overflow-y:scroll; height:650px;" id="middle_scrollbar3"><p></p>
									<!-- Auflistung aller bisher eingegangenen Einsaetze mit Einsicht aller betreffenden Informationen-->
									
									{{# each einsatz}}
									<div class="w3-container w3-white w3-card w3-round w3-hover-shadow" id="{{ _id }}">

										<div class="w3-row w3-center w3-block w3-blue-grey" style="height:30px; font-size:12px; LINE-HEIGHT:0px;">
											<div class="w3-third w3-left-align">
											  <p style="font-size:11px">&emsp;<i class="fa fa-clock-o fa-fw w3-margin-right"></i><span class="timestamp"> {{ timestamp }}</span> Uhr</p>
											</div>
											<div class="w3-third">
											  <p style="font-size:12px"><i class="fa fa-stethoscope fa-fw w3-margin-right"></i> {{ meldebild }}</p>
											</div>
											<div class="w3-third w3-right-align">
											  <p style="font-size:11px"><i class="fa fa-list fa-fw w3-margin-right"></i> {{ status }} &emsp;</p>
											</div>
										</div>
										
										<div class="w3-row">
											<div class="w3-half">
											  <p style="font-size:11px"><i class="fa fa-pencil fa-fw w3-margin-right"></i>Ersteller des Einsatzauftrages: &emsp; {{ sender }}</p>
											</div>
											<div class="w3-half">
											  <p style="font-size:11px"><img class="icon w3-margin-right" src="./img/icons/einsatzleiter.png" alt="EL" style="width:15px; height:15px;">Führungskraft: &emsp; {{ fuehrungskraft.vorname }}  {{ fuehrungskraft.nachname }} ({{ fuehrungskraft.quali }})</p>
											</div>
										</div>
										
										<div class="w3-row">
											<div class="w3-half">
											  <p style="font-size:11px"><i class="fa fa-heartbeat fa-fw w3-margin-right"></i>Verbleib des Patienten: &emsp;{{ verbleibPatient }}</p>
											</div>
											<div class="w3-half">
											  <p style="font-size:11px"><i class="fa fa-map-marker fa-fw w3-margin-right"></i>Standort: &emsp;({{ position.lat }}, {{ position.lng }})</p>  
											</div>
										</div>
										<p style="font-size:11px"><i class="fa fa-ambulance fa-fw w3-margin-right"></i>Zugeteilte Rettungsmittel: &emsp;{{# if rettungsmittel}} {{# each rettungsmittel}} {{ funkruf }} <span class="fahrzeugArt">{{ art }}</span>{{/each}},{{/if}}</p>
										<p style="font-size:11px"><i class="fa fa-flag fa-fw w3-margin-right"></i>Zugeteilte Sanitätsposten: &emsp;{{# if posten}} {{# each posten}} {{ funkruf }}{{/each}},{{/if}}</p>
										<p style="font-size:11px"><i class="fa fa-user-md fa-fw w3-margin-right"></i>Zugeteilte Rettungskräfte: &emsp;{{# if rettungskraefte}} {{# each rettungskraefte}} {{ funkruf }} <span class="medQuali">{{ quali }}</span>{{/each}},{{/if}}</p>
										<p style="font-size:11px"><i class="fa fa-info-circle fa-fw w3-margin-right"></i>Allgemeine Lage: &emsp;<div style="font-size:11px; padding-left:30px;" >{{ text }}</div></p>
									</div> <!-- id="{{ _id }}" -->
										
									<p></p>
									{{/each}}
								</div> <!-- id="middle_scrollbar3 -->
								{{/if}}
						</div>
						
						<div id="funkChronik" hidden class="w3-container w3-display-container w3-padding w3-white w3-hide-small w3-round w3-border">
							<span onclick="switchInfoDisplay('funkChronik')" class="w3-button w3-theme-l3 w3-display-topright">
							  <i class="fa fa-play" onclick="switchInfoDisplay(funkChronik')"></i>
							</span>							
							<h6><i class="fa fa-folder-open w3-large w3-margin-right"><span class="fa fa-comments w3-right w3-small"></span></i>Chronologie der Funksprüche</h6>
							<p style="font-size:13px"> Auflistung aller Funksprüche: </p>
								{{# if funkspruch }}
								<div class="w3-card w3-round w3-theme-l4" style="overflow-y:scroll; height:650px;" id="middle_scrollbar4"><p></p>
									
									{{# each funkspruch }}
									<div class="w3-container w3-white w3-card w3-round w3-hover-shadow" id="{{ _id }}">

										<div class="w3-row w3-center w3-block w3-blue-grey" style="height:30px; font-size:12px; LINE-HEIGHT:0px;">
											<div class="w3-half ">
											  <p style="font-size:11px"><i class="fa fa-clock-o fa-fw w3-margin-right"></i><span class="timestamp"> {{ timestamp }}</span> Uhr</p>
											</div>
											<div class="w3-half">
											  <p style="font-size:12px"><i class="fa fa-inbox fa-fw w3-margin-right"></i> {{ kategorie }}</p>
											</div>
											<!-- evtl. kann man hier noch einen Status einfuegen... (abgeschlossen oder nicht z.B.)-->
										</div>
										
										<div class="w3-row">
											<div class="w3-third w3-left-align">
											  <p style="font-size:11px"><i class="fa fa-send fa-fw w3-margin-right"></i>Sender: &emsp; {{ sender }}</p>
											</div>
											<div class="w3-third">
											  <p style="font-size:11px"><i class="fa fa-envelope-open fa-fw w3-margin-right"></i>Empfänger: &emsp; {{ empfaenger }} </p>
											</div>
											<div class="w3-third w3-right-align">
											  <p style="font-size:11px"><i class="fa fa-envelope-open fa-fw w3-margin-right"></i>Führungskraft: &emsp; {{ fuehrungskraft.vorname }}  {{ fuehrungskraft.nachname }} ({{ fuehrungskraft.quali }})</p>
											</div>
										</div>
										
										<p style="font-size:11px"><i class="fa fa-file-o fa-fw w3-margin-right"></i>Erweiterte Informationen: &emsp;<div style="font-size:11px; padding-left:30px;" >{{ text }}</div></p>
									</div> <!-- id="{{ _id }}" -->
										
									<p></p>
									{{/each}}
								</div> <!-- id="middle_scrollbar4 -->
								{{/if}}
						</div>
						
					</div>
				</div>
			</div>
			
			<br>
	 
		</div> <!-- id="middle_colum" -->
		
	
		<!-- Right Column -->
		<div class="w3-col m2" id="right_column">
		
			<div class="w3-card w3-round" id="rettungsmittelNew">
				<div class="w3-white">
					<button onclick="showDetails('rettungsmittelNew_input')" id="rettungsmittelNew_button" class="w3-button w3-block w3-theme-d2 w3-hover-light-grey w3-left-align w3-card" style="height:35px; font-size:13px;"><i class="fa fa-plus w3-small"><span class="fa fa-ambulance fa-fw w3-margin-right"></span></i>Rettungsfahrzeuge</button>
			  
					<!-- Rettungsmittel - Rolldown Menue -->
					<div class="w3-hide w3-container w3-light-grey" id="rettungsmittelNew_input">
						<form method="POST" action="/rettungsmittel" style="LINE-HEIGHT:5px;" id="rettungsmittelNew_form">
							<input type="hidden" name="rettungsmittel_id" value="" id="rettungsmittel_id"></input>
							<p style="font-size:9px"><i class="fa fa-car w3-small w3-margin-right"></i>Fahrzeugart:</p>
							<p style="font-size:10px; color:gray;">
								<select class="w3-input w3-border" placeholder="Fahrzeugart" name="rettungsmittel_art" id="rettungsmittel_art" style="height:30px;">
									<option value="" hidden>Fahrzeugart</option>
									<option value="Krankentransportwagen (KTW)">Krankentransportwagen (KTW)</option>
									<option value="Rettungswagen (RTW)">Rettungswagen (RTW)</option>
									<option value="Notarzteinsatzfahrzeug (NEF)">Notarzteinsatzfahrzeug (NEF)</option>
									<option value="Mannschaftstransportwagen (MTW)">Mannschaftstransportwagen (MTW)</option>
									<option value="Gerätewagen (GW)">Gerätewagen (GW)</option>
									<option value="Einsatzleitwagen (ELW)">Einsatzleitwagen (ELW)</option>
								</select>
							</p>
							<p style="font-size:9px"><i class="fa fa-bullhorn w3-small w3-margin-right"></i>Funkrufname:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text"  placeholder="Funkrufname" name="rettungsmittel_funkruf" style="height:25px; margin-left:auto; margin-right:auto;" id="rettungsmittel_funkruf"></p>
							<p style="font-size:9px"><i class="fa fa-user-md w3-small w3-margin-right"></i>Zugeteilte Kräfte:<i class="fa fa-plus fa-fw w3-small w3-hover-blue-grey" onclick="addInputField('div_rettungsmittelNew', 'rettungsmittel_kraefte')" id="rettungsmittel_addInputField"></i><i class="fa fa-minus fa-fw w3-small w3-hover-blue-grey" onclick="removeInputField('div_rettungsmittelNew', 'rettungsmittel_kraefte')" id="rettungsmittel_removeInputField"></i></p>
							<p style="font-size:10px"><input class="dropElement w3-input w3-border rettungsmittel_kraefte" list="funkrufDataList" type="text"  placeholder="Tippen oder Drag&Drop" name="rettungsmittel_kraefte" value="" id="rettungsmittel_kraefte" style="height:25px; margin-left:auto; margin-right:auto;"></p>
							<div id="div_rettungsmittelNew">
							</div>
							<button style="margin-left:auto; margin-right:auto; height:25px;" type="submit" class="w3-button w3-block w3-blue-grey">Speichern</button>
							<br>
						</form> <!-- id="rettungsmittelNew_form" -->
					</div> <!-- id="rettungsmittelNew_input" -->
				</div>
			</div> <!-- id="rettungsmittelNew" -->
			
			<p></p>
			
			<div class="w3-card w3-round" id="postenNew">
				<div class="w3-white">
					<button onclick="showDetails('postenNew_input')" id="postenNew_button" class="w3-button w3-block w3-theme-d2 w3-hover-light-grey w3-left-align w3-card" style="height:35px; font-size:13px;"><i class="fa fa-plus w3-small"><span class="fa fa-flag fa-fw w3-margin-right"></span></i>Sanitätsposten</button>
			  
					<!-- Sanitaetsposten - Rolldown Menue -->
					<div class="w3-hide w3-container w3-light-grey" id="postenNew_input">
						<form method="POST" action="/posten" style="LINE-HEIGHT:5px;" id="rettungskraftNew_form">
							<input type="hidden" name="posten_id" value="" id="posten_id"></input>
							<p style="font-size:9px"><i class="fa fa-bullhorn w3-small w3-margin-right"></i>Funkrufname:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Funkrufname" name="posten_funkruf" style="height:25px; margin-left:auto; margin-right:auto;" id="posten_funkruf"></p>
							<p style="font-size:9px"><i class="fa fa-user-md w3-small w3-margin-right"></i>Zugeteilte Kräfte:<i class="fa fa-plus fa-fw w3-small w3-hover-blue-grey" onclick="addInputField('div_postenNew', 'posten_kraefte')" id="posten_addInputField"></i><i class="fa fa-minus fa-fw w3-small w3-hover-blue-grey" onclick="removeInputField('div_postenNew', 'posten_kraefte')" id="posten_removeInputField"></i></p>
							<p style="font-size:10px"><input class="posten_kraefte dropElement w3-input w3-border" list="funkrufDataList" type="text"  placeholder="Tippen oder Drag&Drop" name="posten_kraefte" value="" style="height:25px; margin-left:auto; margin-right:auto;" id="posten_kraefte"></p>
							<div id="div_postenNew">
							</div>
							<button style="margin-left:auto; margin-right:auto; height:25px;" type="submit" class="w3-button w3-block w3-blue-grey">Speichern</button>
							<br>
						</form> <!-- id="rettungskraftNew_form" -->
					</div> <!-- id="postenNew_input" -->
				</div>
			</div> <!-- id="postenNew" -->
			
			<p></p>
			
			<div class="w3-card w3-round" id="rettungskraftNew">
				<div class="w3-white">
					<button onclick="showDetails('rettungskraftNew_input')" id="rettungskraftNew_button" class="w3-button w3-block w3-theme-d2 w3-hover-light-grey w3-left-align w3-card" style="height:35px; font-size:13px;"><i class="fa fa-plus w3-small"><span class="fa fa-user-md fa-fw w3-margin-right"></span></i>Rettungskraft</button>
			  
					<!-- Rettungskraft - Rolldown Menue -->
					<div class="w3-hide w3-container w3-light-grey" id="rettungskraftNew_input">
						<form method="POST" action="/rettungskraft" style="LINE-HEIGHT:5px;" id="rettungskraftNew_form">
							<input type="hidden" name="rettungskraft_id" value="" id="rettungskraft_id"></input>
							<p style="font-size:9px"><i class="fa fa-address-book w3-small w3-margin-right"></i>Vorname:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Vorname" name="rettungskraft_vorname" style="height:25px; margin-left:auto; margin-right:auto;" id="rettungskraft_vorname"></p>
							<p style="font-size:9px"><i class="fa fa-address-book w3-small w3-margin-right"></i>Nachname:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Nachname" name="rettungskraft_nachname" style="height:25px; margin-left:auto; margin-right:auto;" id="rettungskraft_nachname"></p>
							<p style="font-size:9px"><i class="fa fa-home w3-small w3-margin-right"></i>Hilfsorganisation:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" list="hiorgDataList" placeholder="Hilfsorganisation" name="rettungskraft_hiorg" style="height:25px; margin-left:auto; margin-right:auto;" id="rettungskraft_hiorg"></p>
							<p style="font-size:9px"><i class="fa fa-graduation-cap w3-small w3-margin-right"></i>Medizinische Qualifikation:</p>
							<p style="font-size:10px; color:gray;">
								<select class="w3-input w3-border" placeholder="Med. Qualifikation" name="rettungskraft_quali" id="rettungskraft_quali" style="height:30px;">
									<option value="" hidden>Med. Qualifikation</option>
									<option>Praktikant/-in (Erste Hilfe)</option>
									<option>Sanitätshelfer/-in</option>
									<option>Rettungshelfer/-in</option>	
									<option>Rettungssanitäter/-in</option>
									<option>Rettungsassistent/-in</option>
									<option>Notfallsanitäter/in</option>
									<option>Notarzt/Notärztin</option>
								</select>
							</p>
							<p style="font-size:9px"><i class="fa fa-phone-square w3-small w3-margin-right"></i>Telefonnummer:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Telefonnummer" name="rettungskraft_tel" style="height:25px; margin-left:auto; margin-right:auto;" id="rettungskraft_tel"></p>
							<p style="font-size:9px"><i class="fa fa-bullhorn w3-small w3-margin-right"></i>Funkrufname:</p>
							<p style="font-size:10px"><input class="w3-input w3-border" type="text" placeholder="Wenn keine Gruppenrolle" name="rettungskraft_funkruf" style="height:25px; margin-left:auto; margin-right:auto;" id="rettungskraft_funkruf"></p>
							<!-- + Rettungsmittel und Position>-->
							<button style="margin-left:auto; margin-right:auto; height:25px;" type="submit" class="w3-button w3-block w3-blue-grey">Speichern</button>
							<br>
						</form>  <!-- id="rettungskraftNew_form" -->
					</div> <!-- id="rettungskraftNew_input" -->
				</div>
			</div> <!-- id="rettungskraftNew" -->
		
			<p></p>

			<div class="w3-card w3-round w3-theme-l4" style="overflow-y:scroll; height:540px;" id="right_scrollbar"><p></p>
				{{# if rettungsmittel }}
				{{# each rettungsmittel }}
				<div class="dragElement w3-container w3-white w3-card w3-round w3-hover-shadow" draggable="true" id="{{ _id }}">
					<button onclick="updateRettungsmittel('{{ _id }}')" class="funkruf w3-center w3-button w3-block w3-orange w3-half" style="height:30px; width:75%; font-size:12px;" id="{{ funkruf }}" title="Bearbeiten"><i class="fa fa-ambulance w3-small w3-margin-right"></i>{{ funkruf }}</button>
					<form method="POST" action="/rettungsmittelDel" id="rettungsmittelDel_form">
						<input type="hidden" name="rettungsmittel_id" value="{{ _id }}"></input>
						<button type="submit" class="w3-center w3-button w3-block w3-blue-grey w3-quarter" style="height:30px; font-size:10px;" title="Löschen"><i class="fa fa-trash"></i></button>
					</form>
					<br>
					<p style="font-size:11px"><i class="fa fa-ambulance fa-fw w3-margin-right"></i>{{ art }}</p>
					{{# if kraefte }}
					{{# each kraefte }}
					<p style="font-size:11px"><i class="fa fa-user-md fa-fw w3-margin-right"></i>{{ funkruf }} <span class="medQuali">{{ quali }}</span></p>
					{{/each}}
					{{/if}}
				</div> <!-- id="{{ _id }}" -->
				
				<p></p>
				{{/each}}
				{{/if}}
				
				{{# if posten }}
				{{# each posten }}
				<div class="dragElement w3-container w3-white w3-card w3-round w3-hover-shadow" draggable="true" id="{{ _id }}">
					<button onclick="updatePosten('{{ _id }}')" class="funkruf w3-center w3-button w3-block w3-yellow w3-half" style="height:30px; width:75%; font-size:12px;" id="{{ funkruf }}" title="Bearbeiten"><i class="fa fa-flag w3-small w3-margin-right"></i>{{ funkruf }}</button>
					<form method="POST" action="/postenDel" id="postenDel_form">
						<input type="hidden" name="posten_id" value="{{ _id }}"></input>
						<button type="submit" class="w3-center w3-button w3-block w3-blue-grey w3-quarter" style="height:30px; font-size:10px;" title="Löschen"><i class="fa fa-trash"></i></button>
					</form>
					<br>
					{{# if kraefte }}
					{{# each kraefte }}
					<p style="font-size:11px"><i class="fa fa-user-md fa-fw w3-margin-right"></i>{{ funkruf }} <span class="medQuali">{{ quali }}</span></p>
					{{/each}}
					{{/if}}
				</div> <!-- id="{{ _id }}" -->
				
				<p></p>
				{{/each}}
				{{/if}}
				
				{{# if rettungskraft}}
				{{# each rettungskraft}}
				<p></p>
				<div class="dragElement w3-container w3-white w3-card w3-round w3-hover-shadow .w3-hover-div" draggable="true" id="{{ _id }}">
					<button onclick="updateRettungskraft('{{ _id }}')" class="funkruf w3-center w3-button w3-block w3-light-green w3-half" style="height:30px; width:75%; font-size:12px;" id="{{ funkruf }}" title="Bearbeiten"><i class="fa fa-user-md w3-small w3-margin-right"></i>{{ funkruf }}</button>
					<form method="POST" action="/rettungskraftDel" id="rettungskraftDel_form">
						<input type="hidden" name="rettungskraft_id" value="{{ _id }}"></input>
						<button type="submit" class="w3-center w3-button w3-block w3-blue-grey w3-quarter" style="height:30px; font-size:10px;" title="Löschen"><i class="fa fa-trash"></i></button>
					</form>
					<br>
					<p style="font-size:11px"><i class="fa fa-user-md fa-fw w3-margin-right"></i><span>{{ vorname }}</span> <span>{{ nachname }}</span> <span class="medQuali">{{ quali }}</span></p>
					<p hidden class="hiorg">{{ hiorg }}</p>
					<p hidden>{{ tel }}</p>
				</div> <!-- id="{{ _id }}" -->
				{{/each}}
				{{/if}}
			</div> <!-- id="right_scrollbar -->
		
		</div> <!-- id="right_column" -->
    

	</div> <!-- id="total_page" -->
</div>

  <!-- Modal, um Hilfe zur Bedienung des Digitalen Fuehrungsassistenten zu gewaehrleisten -->
	<div id="modal_help" class="w3-modal" style="z-index:5000;">
		<div class="w3-modal-content w3-card w3-padding-small">
		  <div class="w3-modal-header w3-light-grey">
			<span onclick="closeOtherModal('modal_help')" class="w3-button w3-light-grey w3-display-topright w3-padding-small">
					  <i class="fa fa-remove" ></i>
			</span>	
			<h3 style="font-size:26px;"><center>Hilfe zur Bedienung des Digitalen Fuehrungsassistenten:</center></h3>
		  </div>
		  <div class="w3-modal-body w3-white" style="font-size:14px;">
			
			<p class="w3-light-grey"><strong>Führungsposition festlegen und Kerndaten des Gesamteinsatzes angeben</strong></p>
			<p>Wenn Sie von der LOGIN/REGISTRATION zur Mainpage geleitet werden, können sie anhand des erscheinenden Fensters</p>
			<p>&emsp; - angeben, ob sie in der Position des Einsatzleiters oder die des Führungsassistenten an dem Gesamteinsatz beteiligt sind</p>
			<p>&emsp; -	und zudem können in diesem Fenster zeitgleich die Informationen zum Gesamteinsatz gespeichert werden</p>
			<p>Nach der Eingabe bzw. nach dem Speichern der geforderten Angaben wird der Gesamteinsatz automatisch gestartet.</p>
			<p>Um Änderungen vorzunehmen, kann dieses Fenster jeder Zeit über den Reiter "Funktionen"->"Führungsposition ändern" in der oberen Leiste der Hauptseite geändert werden.</p>
			
			<p class="w3-light-grey"><strong>Verwaltung eine(s/r) Rettungsfahrzeuges/ Sanitätspostens/ Rettungskraft/ Funkspruches/ Notfalleinsatzes </strong></p>
			<p><b>Anlegen</b></p>
			<p>Zu Beginn des Gesamteinsatzes sollten zuerst auf der rechten Seite (durch Anklicken der Buttons) alle Rettungsfahrzeuge, Sanitätsposten und Rettungskräfte angelegt werden. Das Anlegen kann alternativ zum Beispiel auch über den Reiter "Funktionen"->“Rettungsfahrzeug hinzufügen“ getan werden.</p>
			<p>Analog dazu können ebenfalls Funksprüche und Notfalleinsätze auf der linken Seite angelegt werden.</p>
			<p><b>Bearbeiten & Abschließen</b></p>
			<p>Angelegte Rettungsfahrzeuge, Sanitätsposten und Rettungskräfte sind unterhalb der Buttons auf der rechten Seite zu sehen. Notfalleinsätze hingegen erscheinen analog dazu auf der linken Seite. Durch Anklicken eines angelegten Objekts kann dieses bearbeitet werden (zum Beispiel im Falle einer Statusänderung eines Notfalleinsatzes). Die Objekte lassen sich über Drag&Drop nutzen, d.h. eine Rettungskraft kann z.B. über Drag&Drop im Anlegeprozess eines Rettungsfahrzeuges diesem zugeteilt werden.</p>
			<p>Durch das Anklicken des dazugehörigen Mülleimersymbols bei Rettungsfahrzeugen, Sanitätsposten und Rettungskräften endet die jeweilige Schicht und das Rettungsfahrzeug, der Sanitätsposten oder die Rettungskraft wird nicht mehr auf der rechten Seite angezeigt.</p>
			<p>Durch das Anklicken des Häkchen-Symbols eines Notfalleinsatzes schließt man diesen ab und wird ebenfalls nicht mehr länger auf der linken Seite angezeigt.</p>
			<p>Funksprüche können nicht bearbeitet werden. (Mehr Infos zur Einsicht von Funksprüchen unter: „Ansicht von Informationen“)</p>
			<p><b>Karteninteraktion</b></p>
			<p>Die angelegten Rettungsfahrzeuge, Sanitätsposten, Rettungskräfte und Notfalleinsätze können über Drag&Drop auf der Karte platziert werden. </p>
			
			<p class="w3-light-grey"><strong>Anlegen von Notizen</strong></p>
			<p>Eine Notiz kann direkt unterhalb der Karte angelegt und über die Enter-Taste gespeichert werden</p>
			
			<p class="w3-light-grey"><strong>Ansicht von Information</strong></p>
			<p>Über den Reiter „Informationen“ können Informationen zum Gesamteinsatz, zu Notizen, getätigte Funksprüche und Notfalleinsätze eingesehen werden. Diese erscheinen unterhalb der Möglichkeit Notizen anzulegen und somit ebenfalls mittig unterhalb der Kartenansicht. Auch durch das Anklicken des Pfeilsymbols des weißen Feldes oben rechts im Eck, kann die Ansicht zwischen den verschiedenen Informationen gewechselt werden.</p>
			
			<p class="w3-light-grey"><strong>Neuladen der Seite / Tonsignal</strong></p>
			<p>Das Neuladen der Seite kann über Anklicken des Buttons „Digitaler Führungsassistent“ oben links oder über das Reload-Symbol oben rechts, direkt neben der Anzeige wer momentan Einsatzleiter ist. </p>
			<p>Wird der Digitale Führungsassistent mit mehr als einem Einsatzleiter über mehr als einen Rechner genutzt, dann gilt Folgendes zu beachten: Ertönt ein Tonsignal und blinkt das Reload-Symbol in der rechten oberen Ecke auf, dann sollte die Seite Ihrerseits neu geladen werden, damit der Einsatzleiter und die Führungsassistenten auf denselben und aktuellsten Änderungen weiterarbeiten können.</p>
			
			<p class="w3-light-grey"><strong>Beenden des Gesamteinsatzes</strong></p>
			<p>Durch den Reiter „Beenden“ kann der Gesamteinsatz abgeschlossen werden. Zeitgleich werden Sie auf eine weitere Seite weitergeleitet: Die Ansicht der automatisch erstellten Dokumentation. Diese kann über den Button „Gesamteinsatz als PDF drucken.“ am Ende der Dokumentationsansicht als PDF gedruckt und somit auf Ihrem lokalen Rechner gespeichert werden. (Hinweis: Querformat ist hierbei zu empfehlen.)</p>
		    <p>Sie werden automatisch abgemeldet, wenn Sie die Seite in Ihrem Browser schließen.</p>
			
			<h6 class="w3-light-grey" Style="font-size:12px;"> &emsp; </h6>
			
			<p style="font-size:10px;"><i class="fa fa-info-circle fa-fw w3-margin-right"></i> Bei weiteren Fragen schicken Sie uns bitte eine Nachricht an Patrick.Beyersdorffer@Student.Reutlingen-University.DE oder an Anita_Dorothee.Mueller@Student.Reutlingen-University.DE mit dem Betreff „Digitaler Führungsassistent - [Bitte füllen Sie hier ein Stichwort Ihres Anliegens ein]“.</p>
			
		  </div>
		  <div class="w3-modal-footer">
		  <!-- Falls es einen extra START-Button gibt-->
			<h6 class="w3-light-grey" Style="font-size:12px;"> &emsp; </h6>
		  </div>
		</div>
	</div>


<!-- Data lists -->
<datalist id="funkrufDataList">
</datalist>
<!--
<datalist id="hiorgDataList">
</datalist>
-->

<script>
	//beginning view of map [FYI: alternative "panTo"]
	var map = L.map('map', {center: [52.521918, 13.413215], zoom: 5, contextmenu: true, contextmenuWidth: 140, contextmenuItems: [{
		text: 'Karte hier zentrieren', callback: mapZentrieren},
		]});
	
	// Event, wenn Karte bewegt wurde
	map.on('moveend', function (e) { 
		sendView(map.getCenter(), map.getZoom());
	});
	
	// Kartenansicht bevor Reload einstellen
	{{# if fuehrungskraft_mapstate.lat}}
		map.setView([{{ fuehrungskraft_mapstate.lat }}, {{ fuehrungskraft_mapstate.lng }}], {{ fuehrungskraft_mapzoom }});
	{{/if}}
	
	//Map Suchfeld
    var searchControl = L.esri.Geocoding.geosearch().addTo(map);

	var results = L.layerGroup().addTo(map);

	searchControl.on('results', function(data){
	results.clearLayers();
	for (var i = data.results.length - 1; i >= 0; i--) {
	  results.addLayer(L.marker(data.results[i].latlng));
	}
	});
	//End Map Suchfeld
	
	// Fuer die Kartenansicht:
	
	L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	maxZoom:19,
	attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox.satellite'
	}).addTo(map);
	
	
	var layer = L.esri.basemapLayer('Standard').addTo(map);
    var layerLabels;
	
	function setBasemap(basemap) {
		if (layer) {
		  map.removeLayer(layer);
		}

		layer = L.esri.basemapLayer(basemap);

		map.addLayer(layer);

		if (layerLabels) {
		  map.removeLayer(layerLabels);
		}

		if (basemap.includes('Imagery')) {
		  layerLabels = L.esri.basemapLayer('ImageryLabels');
		  map.addLayer(layerLabels);
		}
	}

	function changeBasemap(basemaps){
		var basemap = basemaps.value;
		setBasemap(basemap);
	}
	// End Kartenansicht
	
</script>
<script>
	function handleDragStart(e) {
		this.style.opacity = '0.4';  // this / e.target is the source node.
		e.dataTransfer.effectAllowed = 'copy'; // none, copy, copyLink, copyMove, link, linkMove, move, all und uninitialized.
		
		if (this.childNodes.length > 1) { // Einzelne Rettungskraft
			e.dataTransfer.setData('text', this.childNodes[1].innerText);
		}
		else { //Rettungsmittel oder Sanitaetsposten
			e.dataTransfer.setData('text', this.innerText);
		}
	}
	
	function handleDragOver(e) {
		if (e.preventDefault) {
			e.preventDefault(); // Necessary. Allows us to drop.
		}

		e.dataTransfer.dropEffect = 'copy';  // none, copy, copyLink, copyMove, link, linkMove, move, all und uninitialized.

		return false;
	}
	
	function handleDragEnter(e) {
		// this / e.target is the current hover target.
		this.classList.add('over');
	}
	
	function handleDragLeave(e) {
		// this / e.target is previous target element.
		this.classList.remove('over');  
	}
	
	
	
	
	function handleDrop(e) {
		// this / e.target is current target element.
		if (e.stopPropagation) {
			e.stopPropagation(); // stops the browser from redirecting.
		}
		
		this.value = e.dataTransfer.getData('text');
		
		if (e.toElement.id == "map") {
			
			console.log(document.getElementById(e.dataTransfer.getData('text')));
			
			if (getMarker().includes(e.dataTransfer.getData('text'))) {
				alert(e.dataTransfer.getData('text') + " befindet sich schon auf der Karte!");
			}
			
			else {
				var nextSibling = null;
				
				if (document.getElementById(e.dataTransfer.getData('text')).childNodes[0].className == 'fa fa-user-md w3-small w3-margin-right') {
					nextSibling = 'Rettungskraft';
				}
				else if (document.getElementById(e.dataTransfer.getData('text')).childNodes[0].className == 'fa fa-flag w3-small w3-margin-right') {
					nextSibling = 'Posten';
				}
				else if (document.getElementById(e.dataTransfer.getData('text')).parentElement.className == 'einsatz dragElement w3-container w3-white w3-card w3-round w3-hover-shadow') {
					nextSibling = 'Einsatz';
				}
				else {
					nextSibling = document.getElementById(e.dataTransfer.getData('text')).nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.nextSibling.innerText;
				}
				
				
				
				var coordinates = map.containerPointToLatLng(L.point([e.clientX - 250,e.clientY - 50]));
				L.marker(coordinates, {icon: getIcon(nextSibling), draggable: true, keyboard: true, contextmenu: true, 
					contextmenuItems: [{text: 'Marker entfernen', index: 0, callback: markerEntfernen},
									   {text: 'Position setzen', index: 1, callback: positionSenden}]})
					.addTo(map)
					.bindPopup("<b>" + e.dataTransfer.getData('text') + "</b>");
			}
		}
		
		return false;
	}
	
	function handleDragEnd(e) {
	  // this/e.target is the source node.
		
		this.style.opacity = '1.0';
		var dragElements = document.querySelectorAll('.dragElement');
		[].forEach.call(dragElements, function (col) {
			col.classList.remove('over');
			
		});
		var dropElements = document.querySelectorAll('.dropElement');
		[].forEach.call(dropElements, function (col) {
			col.classList.remove('over');
		});
	}
	
	var dragElements = document.querySelectorAll('.dragElement');
	[].forEach.call(dragElements, function(col) {
	  col.addEventListener('dragstart', handleDragStart, false);
	  col.addEventListener('dragend', handleDragEnd, false);
	});
	
	var dropElements = document.querySelectorAll('.dropElement');
	[].forEach.call(dropElements, function(col) {
	  col.addEventListener('dragover', handleDragOver, false);
	  col.addEventListener('dragenter', handleDragEnter, false);
	  col.addEventListener('dragleave', handleDragLeave, false);
	  col.addEventListener('drop', handleDrop, false);
	  col.addEventListener('dragend', handleDragEnd, false);
	});
	
</script>
<script>
	{{# if rettungsmittel }}
	{{# each rettungsmittel }}
		{{# if position}}
			L.marker([{{ position.lat }}, {{ position.lng }}], {icon: getIcon("{{ art }}"), draggable: true, keyboard: true, contextmenu: true, 
				contextmenuItems: [{text: 'Marker entfernen', index: 0, callback: markerEntfernen},
								   {text: 'Position setzen', index: 1, callback: positionSenden}]})
				.addTo(map)
				.bindPopup("<b>" + "{{ funkruf }}" + "</b>");
				
		{{/if}}
	{{/each}}
	{{/if}}
	
	{{# if posten }}
	{{# each posten }}
		{{# if position}}
			L.marker([{{ position.lat }}, {{ position.lng }}], {icon: getIcon('Posten'), draggable: true, keyboard: true, contextmenu: true, 
				contextmenuItems: [{text: 'Marker entfernen', index: 0, callback: markerEntfernen},
								   {text: 'Position setzen', index: 1, callback: positionSenden}]})
				.addTo(map)
				.bindPopup("<b>" + "{{ funkruf }}" + "</b>");
				
		{{/if}}
	{{/each}}
	{{/if}}
	
	{{# if rettungskraft }}
	{{# each rettungskraft }}
		{{# if position}}
			L.marker([{{ position.lat }}, {{ position.lng }}], {icon: getIcon('Rettungskraft'), draggable: true, keyboard: true, contextmenu: true, 
				contextmenuItems: [{text: 'Marker entfernen', index: 0, callback: markerEntfernen},
								   {text: 'Position setzen', index: 1, callback: positionSenden}]})
				.addTo(map)
				.bindPopup("<b>" + "{{ funkruf }}" + "</b>");
				
		{{/if}}
	{{/each}}
	{{/if}}
	
	{{# if einsatz }}
	{{# each einsatz }}
		{{# if aktiv}}
		{{# if position}}
			L.marker([{{ position.lat }}, {{ position.lng }}], {icon: getIcon('Einsatz'), draggable: true, keyboard: true, contextmenu: true, 
				contextmenuItems: [{text: 'Marker entfernen', index: 0, callback: markerEntfernen},
								   {text: 'Position setzen', index: 1, callback: positionSenden}]})
				.addTo(map)
				.bindPopup("<b>" + "{{ meldebild }}" + "</b>");
		{{/if}}
		{{/if}}
	{{/each}}
	{{/if}}
</script>

<!-- Include von externen Funktionen -->
<script type="text/javascript" src="script/moment.js"></script>
<script type="text/javascript" src="script/gesamt.js"></script>
<script type="text/javascript" src="script/einsatz.js"></script>
<script type="text/javascript" src="script/rettungsmittel.js"></script>
<script type="text/javascript" src="script/rettungskraft.js"></script>
<script type="text/javascript" src="script/posten.js"></script>
<script type="text/javascript" src="script/historie.js"></script>

{{# if fuehrungskraft_setEL }}
{{else}}
<script>
	// Sicherheitsabfrage, bevor der Gesamteinsatz gestartet wird, sodass die Führungsposition auch tatsächlich gespeichert wurde:
	function fuehrungspositionSpeichern(){
		var txt= "Vor dem Schließen bitte Speichern nicht vergessen!";
		if (confirm(txt)) {
			closeModal();
		}
	}

	// Modal, um die Führungsposition festzulegen:
	// Get Modal Element
	var modal = document.getElementById('modal_einsatzbeginn');

	// Open
	function openModal() {
	  modal.style.display = 'block';
	}

	// Close
	function closeModal() {
	  modal.style.display = 'none';
	}


	// Input-Felder für die Angabe einess externen Einsatzleiters: 
	var text = document.getElementById("declareEL");
	var checkBox_EL = document.getElementById("EL_false");
	checkBox_EL.addEventListener( 'change', function() {
		if(this.checked) {
			text.style.display = "block";
		} else {
			text.style.display = "none";
		}
	});
	
	openModal();
</script>
{{/if}}

<script>
	// für die Modals dieser Seite:

	// Open
	function openOtherModal(id) {
	  var modal = document.getElementById(id);
	  modal.style.display = 'block';
	}

	// Close
	function closeOtherModal(id) {
	  var modal = document.getElementById(id);
	  modal.style.display = 'none';
	}
</script>
